In [ ]:
#1a
def fun(*a):
  return sum(a)/len(a), sum(a)

fun(1,2)

(1.5, 3)

In [ ]:
addition = 0
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
output = my_list[-2:-9:-2]
print(output)
for i in output:
    if(i/2 == 0):
         addition += i

print(addition)

[9, 7, 5, 3]
0

#2

<table border="1">
    <thead>
        <tr>
            <td>Serial No.</td>
            <td>Product Name</td>
            <td>Product Price</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Rice</td>
            <td>150</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Meat</td>
            <td>350</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Total</strong></td>
            <td>500</td>
        </tr>
    </tbody>
</table>

```html
<table border="1">
    <thead>
        <tr>
            <td>Serial No.</td>
            <td>Product Name</td>
            <td>Product Price</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Rice</td>
            <td>150</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Meat</td>
            <td>350</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Total</strong></td>
            <td>500</td>
        </tr>
    </tbody>
</table>
```

In [ ]:
#3
class Vehicle:
    def __init__(self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year

    def describe(self):
        return f"This vehicle is a {self.year} {self.brand} {self.model}."


class Car(Vehicle):
    def __init__(self, brand, model, year, mileage, color, price):
        super().__init__(brand, model, year)
        self.mileage = mileage
        self.color = color
        self.price = price

    def calculate_mileage(self):
        return f"The mileage of the car is {self.mileage} miles per gallon."


# Example usage:
my_car = Car("Toyota", "Camry", 2020, 30, "white", 500000)
print(my_car.describe())
print(my_car.calculate_mileage())

This vehicle is a 2020 Toyota Camry.
The mileage of the car is 30 miles per gallon.