# **Python Fundamentals**

# **Basics (Variables, Data Types, Basic Operations)**

1. Print

In [ ]:
print('Hello World!')
print("Hello World!")

Hello World!
Hello World!

In [ ]:
print("Hello, World!",end =' ')

Hello, World!

In [ ]:
'It\'s me, Nishat!'
"It's me, Nishat!"

"It's me, Nishat!"

In [ ]:
m = 4
print(m)
m

n = "I'm Angry!"
print(n)
n

4
I'm Angry!

"I'm Angry!"

2. Comments

In [ ]:
# This is a single-line comment

"""
This is a
multi-line comment
"""

'\nThis is a\nmulti-line comment\n'

3. Variables

In [ ]:
name = "John"
age = 25

4. Data Types

In [ ]:
type(2)

int

In [ ]:
type(4.6)

float

In [ ]:
hello = 8
type(hello)

int

In [ ]:
type("hello")

str

In [ ]:
type('class')

str

In [ ]:
integer_number = 42        #Integer
decimal_number = 3.14      #Float
text = '"Hello, World!"'   #String
is_python_fun = True       #Boolean

In [ ]:
print(type(integer_number))     #Check Type
print(type(decimal_number))
print(type(text))
print(type(is_python_fun))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
integer_number #Print

42

In [ ]:
decimal_number  #If we try to print multiple it will print only last one.
is_python_fun
text

'"Hello, World!"'

5. Numbers

In [ ]:
# Integers
x = 5

# Floats
y = 3.14

6. Type Casting

In [ ]:
# Initial value as a float
a = 5.6
print(type(a), a)

# Casting to integer, then to string
a = str(int(a))  # First convert to int (5), then to string ("5")
print(type(a), a)

# Casting to float
b = float(3)  # b will be 3.0
print(type(b), b)

# Casting to string
c = str(42)  # c will be "42"
print(type(c), c)

<class 'float'> 5.6
<class 'str'> 5
<class 'float'> 3.0
<class 'str'> 42

In [ ]:
d = 4.5
print(type(d), d)

d = int(d)
print(type(d), d)

d = str(d)
print(type(d), d)

<class 'float'> 4.5
<class 'int'> 4
<class 'str'> 4

In [ ]:
e = int(2.0009)
print(type(e), e)

f = float(4)
print(type(f), f)

<class 'int'> 2
<class 'float'> 4.0

7. String Basics

In [ ]:
a = 'Hello I\'m Nishat!'
print(a)

Hello I'm Nishat!

In [ ]:
b = 'I\'m 100% positive about life!'
print(b)

I'm 100% positive about life!

In [ ]:
print(len(a))
print(len(b))

17
29

In [ ]:
c = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,



sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(c)
print(" ")
print(len(c))

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,



sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

126

8. Slicing

In [ ]:
b = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
print(b[-10:-4])

QRSTUV

In [ ]:
print(b[-26:-1])

ABCDEFGHIJKLMNOPQRSTUVWXY

In [ ]:
c = "Hello, World!_ap CSE "
print(len(c))
print(len(c[-10:-7]))
print((c[-10:-7]))

21
3
d!_

In [ ]:
d = "    "       #Type 4 Space
print(len(d))

4

In [ ]:
d = "    12345 67890"       #Type 4 Space then Digits with Space
print(len(d[-11:-1]))
print(d[-11:-1])

10
12345 6789

9. Modify String

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [ ]:
text = "I'm Nishat Tasnim."
upper_text = text.upper()
lower_text = text.lower()
print(upper_text)
print(lower_text)

I'M NISHAT TASNIM.
i'm nishat tasnim.

In [ ]:
text = "are you a cat?"
capitalized_text = text.capitalize()
print(capitalized_text)

Are you a cat?

In [ ]:
text = "Hello, Python"
print(text.startswith("Hello"))    #These methods check if the string starts or ends with a specified prefix or suffix and return a boolean value.
print(text.endswith("Python"))

True
True

In [ ]:
text = "Cat screams meow meow"
print(text.startswith("Cat"))
print(text.endswith("roar"))

True
False

In [ ]:
#strip() method removes any leading and trailing whitespace characters from the string a.
a = "              Hello, World!          "
print(a.strip())

Hello, World!

In [ ]:
#This method splits the string into a list of substrings based on the specified separator.
text = "apple,orange,banana"
fruits = text.split(",")    # , = Separator
print(fruits)

['apple', 'orange', 'banana']

In [ ]:
text = "apple orange banana"
fruits = text.split(" ")    # Space = Separator
print(fruits)

['apple', 'orange', 'banana']

In [ ]:
#This method concatenates elements of an iterable into a single string, using the original string as a separator.
country = ['Ban' 'gla' 'desh']
text = " ".join(country)
print(text)

fruits = ['Apple', 'Orange', 'Banana']
text1 = ",".join(fruits)
print(text1)

Bangladesh
Apple,Orange,Banana

In [ ]:
# Replace 'H' with 'J' in the string
a = "Hello! How are you?"
print(a.replace("H", "J"))      # returns "Jello! Jow are you?"

b = "Meow Meow Meow! I'm a Bat!"
replaced = b.replace("B", "C")  # Replace 'B' with 'C' in the string
print(replaced)

Jello! Jow are you?
Meow Meow Meow! I'm a Cat!

In [ ]:
text = "Hello World"
new_text = text.replace("World", "Python")   # str.replace(old, new)
print(new_text)

Hello Python

In [ ]:
# Concatenate strings and an integer
a = "Hello"
b = "Iphone"
c = a + " From My " + b + " " + str(14) + "!!!"
print(c)

Hello From My Iphone 14!!!

In [ ]:
x = "The temperature today is"
y = "Degrees Celsius"
z = 25
result = x + " " + str(z) + " " + y + "."
print(result)

The temperature today is 25 Degrees Celsius.

In [ ]:
name = "Nishat"
age = 22
message = "My name is " + name + " and I am " + str(age) + " years old."
print(message)

My name is Nishat and I am 22 years old.

In [8]:
# Convert integers to strings and concatenate them with another string
a = 20
c = 24
d = ' Bye Bye ' + str(a) + str(c) + '!!'
print(d)

 Bye Bye 2024!!

In [ ]:
# Extract a substring, replace characters, and print the length
a = 'hello world '
b = a[-7:-1]  # Extract substring from index -7 to -2 (excluding the last index)
print(b)
b = b.replace('o', 'k')  # Replace 'o' with 'k' in the substring
print(b)
print(len(b))

 world
 wkrld
6

In [ ]:
name = "Nishat"
age = 22
message = "My name is %s and I am %d years old." % (name, age)
print(message)


# %s is a placeholder for a string.
# %d is a placeholder for an integer.
# The values to be inserted into the string are provided in a tuple (name, age) after the % operator.

My name is Nishat and I am 22 years old.

In [ ]:
name = "Tasnim"
age = 22
message = f"My name is {name} and I am {age} years old."   # f-strings
print(message)

My name is Tasnim and I am 22 years old.

10. Arithmetic Operators:

In [ ]:
2+3

5

In [ ]:
2+3.0009

5.0009

In [ ]:
3.9+2.776

6.676

In [ ]:
50 - 3.4*2

43.2

In [ ]:
6/4

1.5

In [ ]:
6//4

1

In [ ]:
6%4

2

In [ ]:
6**2  # 6^2

36

In [ ]:
7**7  # 7^7

823543

In [12]:
height = 3.2
base = 5.2
area = height * base
print(area)

16.64

In [9]:
a = 10
b = 3

print(a + b)  # Addition: 13
print(a - b)  # Subtraction: 7
print(a * b)  # Multiplication: 30
print(a / b)  # Division: 3.3333333333333335
print(a // b) # Floor Division: 3
print(a % b)  # Modulus/Remainder: 1
print(a ** b) # Exponentiation: 1000

13
7
30
3.3333333333333335
3
1
1000

In [13]:
area

16.64

In [14]:
area_2 = _ /2   #Rounding
area_2

8.32

In [15]:
round(area_2,1)

8.3

In [ ]:
round(3.65656,3)

3.657

11. Comparison Operators:

In [ ]:
x = 5
y = 10

print(x == y)  # Equal to: False
print(x != y)  # Not equal to: True
print(x > y)   # Greater than: False
print(x < y)   # Less than: True
print(x >= y)  # Greater than or equal to: False
print(x <= y)  # Less than or equal to: True

False
True
False
True
False
True

12. Logical Operators:

In [ ]:
p = True  # 0
q = False # 1

print(p and q)  # Logical AND: 0
print(p or q)   # Logical OR: 1
print(not p)    # Logical NOT: 0

False
True
False

In [ ]:
p = 0
q = 1

print(p and q)  # Logical AND: 0
print(p or q)   # Logical OR: 1
print(not p)    # Logical NOT: 1

0
1
True

13. Assignment Operators:

In [ ]:
a = 5
b = 2

a += b  # Equivalent to: a = a + b
print(a)  # Output: 7

a -= b  # Equivalent to: a = a - b
print(a)  # Output: 5

a *= b  # Equivalent to: a = a * b
print(a)  # Output: 10

7
5
10

14. Identify Operator :

In [ ]:
x = 1
y = 1

print(x is y)
print(x is not y)

True
False

In [ ]:
x = [1, 2, 3]
y = [1, 2, 3]

print(x is y)     # True if the same object: False
print(x is not y)  # True if not the same object: True

False
True

15. Membership Operator :

In [ ]:
fruits = ['apple', 'banana', 'orange']

print('banana' in fruits)      # True
print('grape' not in fruits)   # True
print('cherry' in fruits)      # False

True
True
False

16. Input From User :

In [ ]:
Input = input("Enter Input: ")

Enter Input: 7

In [ ]:
value = input("Enter your value: ")
print(value)
type(value)

Enter your value: 9
9

str

In [ ]:
value = input("Enter your value: ")
print(value)
value = int(value)
type(value)

Enter your value: 3
3

int

# **Data Structures (List, Tuple, Set, Dictionary)**

# **Lists**

Lists in Python are a versatile data structure that allows you to store and manipulate a collection of items.

* Python Lists Creation
* Access List Items
* Change List Items
* Add List Items
* Remove List Items
* Loop Lists
* List Comprehension
* Sort Lists
* Copy Lists
* Join Lists
* List Methods

1. Create Lists:

In [ ]:
# Creating a list
my_list = [1, 2, 3, 'apple', 'banana']
print(my_list)

[1, 2, 3, 'apple', 'banana']

2. Access List Items:

In [ ]:
# List indexing starts from 0, and negative indexing represents elements from the end of the list.

print(my_list[0])
print(my_list[3])
print(my_list[4])

print(my_list[-1])
print(my_list[-3])
print(my_list[-5])

1
apple
banana
banana
3
1

3. Change List Items:

In [ ]:
#You can modify the content of a list by assigning new values to specific indices.

my_list[1] = 'orange'
print(my_list)

my_list[2] = 'cherry'
print(my_list)

my_list[0] = 'jackfruit'
print(my_list)

[1, 'orange', 3, 'apple', 'banana']
[1, 'orange', 'cherry', 'apple', 'banana']
['jackfruit', 'orange', 'cherry', 'apple', 'banana']

4. Add List Items :

4.1. Append :

In [ ]:
#Adds an element to the end of the list.

my_list.append('grape')
print(my_list)

['jackfruit', 'orange', 'cherry', 'apple', 'banana', 'grape']

4.2 Insert:

In [ ]:
# Inserts an element at a specified position.

my_list.insert(2, 'avocado')
print(my_list)

['jackfruit', 'orange', 'avocado', 'cherry', 'apple', 'banana', 'grape']

5. Remove List Items :

5.1 Remove :

In [ ]:
#Removes the first occurrence of a specified value.

my_list.append('apple')   #Add Apple to the end of the list.
print(my_list)

my_list.remove('apple')   #Remove First Occurance of Apple.
print(my_list)

['jackfruit', 'orange', 'avocado', 'cherry', 'apple', 'banana', 'grape', 'apple']
['jackfruit', 'orange', 'avocado', 'cherry', 'banana', 'grape', 'apple']

5.2 Pop :

In [ ]:
# Removes the element at a specified index or the last element if no index is specified.

popped_item = my_list.pop(2)
print(popped_item)
print(my_list)

avocado
['jackfruit', 'orange', 'cherry', 'banana', 'grape', 'apple']

6. Loop Lists:

In [ ]:
# You can iterate over the elements of a list using a loop.

for item in my_list:
    print(item)

jackfruit
orange
cherry
banana
grape
apple

7. List Comprehension :

In [ ]:
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares1 = [x**2 for x in range(10)]
squares1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# List comprehension to create a list of squared numbers
# Iterate over numbers from 0 to 4 (inclusive)
squared_numbers = [x**2 for x in range(5)]

# Print the list of squared numbers
print(squared_numbers)

[0, 1, 4, 9, 16]

In [ ]:
# List comprehension to create a list of cubes
# Iterate over numbers from 1 to 5 (inclusive)
cubed_numbers = [x**3 for x in range(1, 6)]

# Print the list of cubed numbers
print(cubed_numbers)

[1, 8, 27, 64, 125]

In [ ]:
# List comprehension to create a list of numbers greater than 5
# Iterate over numbers from 1 to 10 (inclusive)
numbers_greater_than_5 = [x for x in range(1, 11) if x > 5]

# Print the list of numbers greater than 5
print(numbers_greater_than_5)

[6, 7, 8, 9, 10]

In [ ]:
# List comprehension to create a list of even numbers
# Iterate over numbers from 0 to 9 (inclusive)
even_numbers = [x for x in range(10) if x % 2 == 0]

# Print the list of even numbers
print(even_numbers)

[0, 2, 4, 6, 8]

8. Sort Lists :

In [ ]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5]
numbers.sort()
print(numbers)

[1, 1, 2, 3, 4, 5, 5, 6, 9]

9. Copy Lists :

9.1 Shallow Copy :

In [ ]:
my_list = [1, 2, 3]
copy_list = my_list.copy()
copy_list

[1, 2, 3]

9.2 Deep Copy :

In [ ]:
import copy
deep_copy_list = copy.deepcopy(my_list)
deep_copy_list

[1, 2, 3]

9.3 copy.copy() (Shallow Copy):

In [ ]:
import copy

original_list = [1, [2, 3], 4]
shallow_copy = copy.copy(original_list)

print(original_list)
print(shallow_copy)

# Modifying the original list affects the shallow copy
original_list[1][0] = 'X'
print(original_list)
print(shallow_copy)

[1, [2, 3], 4]
[1, [2, 3], 4]
[1, ['X', 3], 4]
[1, ['X', 3], 4]

9.4 copy.deepcopy() (Deep Copy):

In [ ]:
import copy

original_list = [1, [2, 3], 4]
deep_copy = copy.deepcopy(original_list)

print(original_list)
print(deep_copy)

# Modifying the original list does not affect the deep copy
original_list[1][1] = 'Y'
print(original_list)
print(deep_copy)

original_list[2] = 'Z'
print(original_list)
print(deep_copy)

[1, [2, 3], 4]
[1, [2, 3], 4]
[1, [2, 'Y'], 4]
[1, [2, 3], 4]
[1, [2, 'Y'], 'Z']
[1, [2, 3], 4]

10. Join Lists :

In [ ]:
#Concatenate two or more lists.

list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
joined_list = list1 + list2
print(joined_list)

[1, 2, 3, 'a', 'b', 'c']

11. List Methods :

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [ ]:
fruits.count('tangerine')

0

In [ ]:
fruits.index('banana')

3

In [ ]:
fruits.index('banana', 4)  # Find next banana starting at position 4

6

In [ ]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [ ]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [ ]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [ ]:
fruits.pop()

'pear'

Nested List :

In [ ]:
# A list can contain other lists.

nested_list = [[1, 2, 3], ['a', 'b', 'c']]
print(nested_list[0][0])
print(nested_list[1][0])
print(nested_list[0][1])
print(nested_list[0][2])
print(nested_list[1][1])
print(nested_list[1][2])

1
a
2
3
b
c
1
a
2
3
b
c

# **Tuples** :
Tuples in Python are similar to lists, but they are immutable, meaning their values cannot be changed after creation.

* Python Tuples
* Access Tuples
* Update Tuples
* Unpack Tuples
* Loop Tuples
* Join Tuples
* Tuple Methods

1. Creating Tuples :

In [ ]:
# Creating a tuple
my_tuple = (1, 2, 3, 'apple', 'banana')
print(my_tuple)

(1, 2, 3, 'apple', 'banana')

2. Access Tuple :

In [ ]:
# Tuple indexing and negative indexing work the same way as with lists.

print(my_tuple[0])
print(my_tuple[-1])

1
banana

3. Update Tuple :

In [ ]:
# Since tuples are immutable, you cannot change their values directly. However, you can create a new tuple with the desired changes.

new_tuple = my_tuple + ('grape',)
print(new_tuple)

(1, 2, 3, 'apple', 'banana', 'grape')

4. Unpack Tuple :

In [ ]:
# Assigning tuple values to multiple variables.

a, b, c, *rest = my_tuple
print(a, b, c)
print(rest)
print(my_tuple)

1 2 3
['apple', 'banana']
(1, 2, 3, 'apple', 'banana')

5. Loop Tuple :

In [ ]:
# Iterate over tuple elements using a loop.

for item in my_tuple:
    print(item)

1
2
3
apple
banana

6. Join Tuple :

In [ ]:
# Concatenate two or more tuples.

tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
joined_tuple = tuple1 + tuple2
print(joined_tuple)

(1, 2, 3, 'a', 'b', 'c')

7. Tuple Methods :

count()

In [ ]:
#Counts the number of occurrences of a specified value.

my_tuple = (1, 2, 2, 3, 2, 4)
count_2 = my_tuple.count(2)
print(count_2)

3

index()

In [ ]:
#Returns the index of the first occurrence of a specified value.

index_3 = my_tuple.index(3)
print(index_3)

3

# **Sets :**

Sets in Python are unordered collections of unique elements. They are useful when you want to store multiple items, but you don't need to care about the order or duplicates.

* Python Sets
* Access Set Items
* Add Set Items
* Remove Set Items
* Loop Sets
* Join Sets
* Set Methods

1. Creating Sets:

In [ ]:
# Creating a set
my_set = {1, 2, 3, 'apple', 'banana'}
print(my_set)

{1, 2, 3, 'apple', 'banana'}

2. Access Set Items :

In [ ]:
# Sets are unordered, so you can't access items using an index. However, you can check for membership.

print('apple' in my_set)
print('orange' in my_set)

True
False

3. Add Set Items:

add()

In [ ]:
# Adds a single element to the set.

my_set.add('grape')
print(my_set)

{1, 2, 3, 'apple', 'banana', 'grape'}

update()

In [ ]:
# Adds multiple elements to the set.

my_set.update({'orange', 'kiwi'})
print(my_set)

{1, 2, 3, 'apple', 'banana', 'grape', 'orange', 'kiwi'}

4. Remove Set Items:

remove()

In [ ]:
# Removes a specified element. Raises an error if the element is not present.

my_set.remove('apple')
print(my_set)

{1, 2, 3, 'banana', 'grape', 'orange', 'kiwi'}

discard()

In [ ]:
# Removes a specified element. Does nothing if the element is not present.

my_set.discard('orange')
print(my_set)

{1, 2, 3, 'banana', 'grape', 'kiwi'}

pop()

In [ ]:
# Removes and returns a random element from the set.

popped_item = my_set.pop()
print(popped_item)
print(my_set)

1
{2, 3, 'banana', 'grape', 'kiwi'}

In [ ]:
popped_item = my_set.pop()
print(popped_item)
print(my_set)

2
{3, 'banana', 'grape', 'kiwi'}

In [ ]:
popped_item = my_set.pop()
print(popped_item)
print(my_set)

3
{'banana', 'grape', 'kiwi'}

5. Loop Sets :

In [ ]:
# Iterate over set elements using a loop.

for item in my_set:
    print(item)

banana
grape
kiwi

6. Join Sets:

In [ ]:
# You can use set operations like union (|) or intersection (&) to combine or find common elements between sets.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2  # Union
intersection_set = set1 & set2  # Intersection
print(union_set)
print(intersection_set)

{1, 2, 3, 4, 5}
{3}

7. Set Methods:

In [ ]:
print(my_set)

{'banana', 'grape', 'kiwi'}

copy()

In [ ]:
#Creates a shallow copy of the set if there are no elements in set.

new_set= my_set.copy()
print(new_set)

{'banana', 'grape', 'kiwi'}

clear()

In [ ]:
# Removes all elements from the set, does not affect copy of set.

my_set.clear()
print(my_set)
print(new_set)

set()
{'banana', 'grape', 'kiwi'}

# **Dictionaries**

Python dictionaries are collections of key-value pairs, where each key must be unique. They provide a flexible way to store and retrieve data.

* Python Dictionaries
* Access Items
* Change Items
* Add Items
* Remove Items
* Loop Dictionaries
* Copy Dictionaries
* Nested Dictionaries
* Dictionary Methods

1. Creating Dictionaries:

In [ ]:
# Creating a dictionary
my_dict = {'name': 'Nishat', 'age': 22, 'city': 'Dhaka'}     # 'key': 'Value'
print(my_dict)

{'name': 'Nishat', 'age': 22, 'city': 'Dhaka'}

2. Access Items :

In [ ]:
# You can access the values in a dictionary using their keys.

print(my_dict['name'])
print(my_dict['age'])

Nishat
22

3. Change Items:

In [ ]:
# You can modify the value associated with a key.

my_dict['age'] = 20
print(my_dict['age'])

20

4. Add Items :

In [ ]:
# You can add new key-value pairs to the dictionary.

my_dict['occupation'] = 'Engineer'
print(my_dict)

{'name': 'Nishat', 'age': 20, 'city': 'Dhaka', 'occupation': 'Engineer'}

5. Remove Elements :

In [ ]:
print(my_dict)

{'name': 'Nishat', 'city': 'Dhaka', 'occupation': 'Engineer'}

pop()

In [ ]:
# Removes the item with the specified key and returns its value.

removed_age = my_dict.pop('age')
print(removed_age)
print(my_dict)

20
{'name': 'Nishat', 'city': 'Dhaka', 'occupation': 'Engineer'}

popitem()

In [ ]:
# Removes and returns the last inserted key-value pair.

removed_item = my_dict.popitem()
print(removed_item)
print(my_dict)

('occupation', 'Engineer')
{'name': 'Nishat', 'city': 'Dhaka'}

6. Loop Dictionaries :

In [ ]:
# Lets add some key-value first

my_dict['city'] = 'New York'
my_dict['occupation'] = 'Data Scientist'
my_dict['car owned'] = 'Porsche, BMW, Kia, Rolls Royce'
print(my_dict)

{'name': 'Nishat', 'city': 'New York', 'occupation': 'Data Scientist', 'car owned': 'Porsche, BMW, Kia, Rolls Royce'}

In [ ]:
# You can iterate over keys, values, or key-value pairs in a dictionary.

# Iterate over keys
for key in my_dict:
    print(key)

# Iterate over values
for value in my_dict.values():
    print(value)

# Iterate over key-value pairs
for key, value in my_dict.items():
    print(key, value)

name
city
occupation
car owned
Nishat
New York
Data Scientist
Porsche, BMW, Kia, Rolls Royce
name Nishat
city New York
occupation Data Scientist
car owned Porsche, BMW, Kia, Rolls Royce

7. Copy Dictionaries:

7.1 Shallow Copy:

In [ ]:
copy_dict = my_dict.copy()
print(copy_dict)

{'name': 'Nishat', 'city': 'New York', 'occupation': 'Data Scientist', 'car owned': 'Porsche, BMW, Kia, Rolls Royce'}

7.2 Deep Copy:

In [ ]:
import copy
deep_copy_dict = copy.deepcopy(my_dict)
print(deep_copy_dict)

{'name': 'Nishat', 'city': 'New York', 'occupation': 'Data Scientist', 'car owned': 'Porsche, BMW, Kia, Rolls Royce'}

8. Nested Dictionaries:

In [ ]:
# Dictionaries can contain other dictionaries as values.

nested_dict = {'person': {'name': 'Tasnim', 'age': 22, 'city': 'Paris'}}
print(nested_dict['person']['name'])
print(nested_dict['person']['city'])

Tasnim
Paris

9. Dictionary Methods:

In [ ]:
print(my_dict)

{'name': 'Nishat', 'city': 'New York', 'occupation': 'Data Scientist', 'car owned': 'Porsche, BMW, Kia, Rolls Royce'}

keys()

In [ ]:
# Returns a list of all the keys in the dictionary.

keys_list = my_dict.keys()
print(keys_list)

dict_keys(['name', 'city', 'occupation', 'car owned'])

values()

In [ ]:
# Returns a list of all the values in the dictionary.

values_list = my_dict.values()
print(values_list)

dict_values(['Nishat', 'New York', 'Data Scientist', 'Porsche, BMW, Kia, Rolls Royce'])

items()

In [ ]:
# Returns a list of key-value tuples.

items_list = my_dict.items()
print(items_list)

dict_items([('name', 'Nishat'), ('city', 'New York'), ('occupation', 'Data Scientist'), ('car owned', 'Porsche, BMW, Kia, Rolls Royce')])

# **Functions (Definition, Arguments, Lambda Functions)**

* A function is a block of reusable code that performs a specific task.
* Functions help in organizing code, making it more readable, and promoting code reusability.

**1. Defining a Function:**

In [1]:
def greet(name):                     # def function_name(parameters)
    print(f"Hello {name}!")

# Calling the function
greet("Nishat")

Hello Nishat!

In [2]:
def greet(name):
    pass                           # used pass keyword to define a function without implementing

# Calling the function
greet("Nishat")

**2. Parameters and Arguments:**
* Parameters are variables that you include in the function definition.
* Arguments are the values passed into the function when calling it.

In [3]:
def add_numbers(a, b):
  sum_result = a + b
  print(f"The sum is: {sum_result}")

# Calling the function with arguments
add_numbers(5, 3)

The sum is: 8

**3. Return Statement:**
* Use the return statement to send a result back from the function.
* A function can return multiple values as a tuple.

In [4]:
def square(number):
    return number ** 2

result = square(4)
print(f"The square is: {result}")

The square is: 16

**4. Default Values:**
* You can provide default values for function parameters.

In [5]:
def power(base, exponent=2):
    return base ** exponent

print(power(3))     # Uses default exponent (2)
print(power(3, 3))  # Uses provided exponent (3)

9
27

**5. Variable Scope :**
* Variables defined inside a function have local scope.
* Variables defined outside functions have global scope.

In [6]:
global_var = 10

def my_function():
    local_var = 5
    global global_var                 # to changes values it must be accessd by  global keyword
    global_var += 10
    print(f"Global variable: {global_var}")
    print(f"Local variable: {local_var}")

my_function()

Global variable: 20
Local variable: 5

**6. Passing Lists and Dictionaries:**
* Functions can accept lists or dictionaries as arguments.

In [9]:
def process_list(my_list):
    for item in my_list:
        print(item)

my_items = [1, 2, 3, 4]
process_list(my_items)

1
2
3
4

**7. Lambda Functions (Anonymous Functions):**
* Lambda functions are small, one-line anonymous functions.

In [10]:
multiply = lambda x, y: x * y    # Defines a lambda function named multiply that takes two parameters x and y and returns their product (x * y).
print(multiply(3, 4))

12

In [12]:
add = lambda x, y : x + y
print(add(10, 2))

12

**8. Docstrings:**
* Document your functions using docstrings to provide documentation.

In [11]:
def multiply(a, b):
    """
    This function multiplies two numbers.
    :param a: The first number
    :param b: The second number
    :return: The product of a and b
    """
    return a * b

**10. Recursive Functions:**
* Functions can call themselves, creating a recursive structure.

In [14]:
def factorial(n):
    if n == 0 or n == 1:              # Base Case
        return 1
    else:
        return n * factorial(n - 1)   # Recursive case: n * factorial of (n-1)

fact = factorial(10)
print(fact)

3628800

In [15]:
def fibonacci(n):
  if n == 0 :
    return 0

  elif n == 1:
    return 1

  else:
    return fibonacci(n-1) + fibonacci (n-2)     # Recursive case: sum of the two preceding numbers

fib = fibonacci(10)
print(fib)

55

### **Positional vs Keword Arguments**

In Python, when you call a function, you can pass arguments in two main ways: positional arguments and keyword arguments.

**Positional Arguments:**
* Positional arguments are passed to a function based on their position or order in the function's parameter list.

In [17]:
def greet(name, age):
    print(f"Hello, {name}! You are {age} years old.")

# Using positional arguments
greet("Nishat", 22)

Hello, Nishat! You are 22 years old.

**Keyword Arguments:**
* Keyword arguments are passed to a function using the parameter names. This allows you to explicitly specify which argument corresponds to which parameter, regardless of their order

In [20]:
def greet(name, age):
    print(f"Hello, {name}! You are {age} years old.")

# Using keyword arguments
greet(age=22, name="Tasnim")

Hello, Tasnim! You are 22 years old.

**Mixing Positional and Keyword Arguments:**
* You can mix positional and keyword arguments in a function call. However, positional arguments must come before keyword arguments.

In [22]:
def greet(name, age, location):
    print(f"Hello, {name}! You are {age} years old. You are a cat from {location}.")

# Mixing positional and keyword arguments
greet("Meow", location="New York", age=22)

Hello, Meow! You are 22 years old. You are a cat from New York.

**Default Values:**
* You can provide default values for function parameters, making them optional. If an argument is not provided, the default value is used.

In [24]:
def greet(name, age=2):
    print(f"Hello, {name}! You are {age} years old.")

# Using default values
greet("Meow")              # age defaults to 25
greet("Fur Ball", age=5)  # age is explicitly provided

Hello, Meow! You are 2 years old.
Hello, Fur Ball! You are 5 years old.

**Positional-Only Arguments (Before /):**
* You can use **/** in the function definition to indicate that all the parameters before it must be specified as positional arguments.

In [26]:
def example_function(a, b, /, c, d):
    print(a, b, c, d)

# Valid usage
example_function(1, 2, c = 3, d = 4)
example_function(1, 2, 3, 4)

1 2 3 4
1 2 3 4

**Keyword-Only Arguments** **(After** *):
* You can use * in the function definition to indicate that all the parameters after it must be specified as keyword arguments.

In [27]:
def example_function(a, b, *, c, d):
    print(a, b, c, d)

# Valid usage
example_function(1, 2, c=3, d=4)

1 2 3 4

**Combination of Both:**
* You can use **/** and * together to enforce a combination of positional-only, positional-or-keyword, and keyword-only arguments.

In [31]:
def example_function(a, b, /, x, y, *, c, d):
    print(a, b, x, y, c, d)

# Valid usage
example_function(1, 2, 3, 4, c=5, d=6)

1 2 3 4 5 6

In [32]:
def example_function(a, b, /, x, y, *, c, d):
    print(a, b, x, y, c, d)

# Valid usage
example_function(1, 2, x=3, y=4, c=5, d=6)  # All keyword arguments after positional-only
example_function(1, 2, 3, y=4, c=5, d=6)    # Mixed usage with keyword-only arguments

1 2 3 4 5 6
1 2 3 4 5 6

# **Control Structures (if-else, loops)**

# **If-else**
* if else
* nested if else
* star print

**1. Basic If-Else Statements:**

In [33]:
# Example 1
x = 10

if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is greater than 5

**2. Elif Statements:**

In [34]:
# Example 2
y = 20

if y > 15:
    print("y is greater than 15")
elif y == 15:
    print("y is equal to 15")
else:
    print("y is less than 15")

y is greater than 15

**3. Nested If-Else Statements:**

In [35]:
# Example 3
a = 5
b = -7

if a > 0:
    if b > 0:
        print("Both a and b are positive")
    else:
        print("a is positive, but b is not")
else:
    print("a is not positive")

a is positive, but b is not

**4. Ternary Operator:**

In [36]:
# Example 4
condition = True
result = "Yes" if condition else "No"
print(result)

Yes

In [39]:
condition = False
result = "Yes" if condition else "No"
print(result)

No

**5. Multiple Conditions:**

In [40]:
# Example 5
num = 8

if 5 < num < 10:
    print("The number is between 5 and 10")

The number is between 5 and 10

**6. Short-Circuiting:**

In [41]:
# Example 6
x = 5

if x > 0 and (10 / x) > 1:
    print("Both conditions are true")
else:
    print("At least one condition is false")

Both conditions are true

**7. Using Functions:**

In [42]:
# Example 7
def check_number(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"

result = check_number(7)
print(result)

Odd

**8. Advanced Concepts - The pass Statement:**

In [43]:
# Example 8
x = 12

if x > 10:
    pass  # Do nothing
else:
    print("x is not greater than 10")

**9. Exception Handling (Try-Except):**

In [44]:
# Example 9
try:
    age = int(input("Enter your age: "))
    if age < 0:
        raise ValueError("Age cannot be negative")
    print(f"Your age is {age}")
except ValueError as ve:
    print(f"Error: {ve}")

Enter your age: -4
Error: Age cannot be negative

In [45]:
try:
    age = int(input("Enter your age: "))
    if age < 0:
        raise ValueError("Age cannot be negative")
    print(f"Your age is {age}")
except ValueError as ve:
    print(f"Error: {ve}")

Enter your age: 22
Your age is 22

In [46]:
try:
    age = int(input("Enter your age: "))
    if age < 0:
        raise ValueError("Age cannot be negative")
    print(f"Your age is {age}")
except ValueError as ve:
    print(f"Error: {ve}")

Enter your age: Twenty Two
Error: invalid literal for int() with base 10: 'Twenty Two'

### **Nested if-else extended :**

In [47]:
# Beginner Example

number = int(input("Enter a number: "))

if number > 0:
    print("The number is positive.")
else:
    if number < 0:
        print("The number is negative.")
    else:
        print("The number is zero.")

Enter a number: 0
The number is zero.

In [48]:
# Intermediate Example : Checking Parity and Magnitude

number = int(input("Enter a number: "))

if number > 0:
    print("The number is positive.")
    if number % 2 == 0:
        print("The positive number is even.")
    else:
        print("The positive number is odd.")
else:
    if number < 0:
        print("The number is negative.")
    else:
        print("The number is zero.")

Enter a number: 100
The number is positive.
The positive number is even.

In [49]:
# Advanced Example : Grading System

score = int(input("Enter your score: "))

if score >= 90:
    print("Grade: A")
elif 80 <= score < 90:
    print("Grade: B")
elif 70 <= score < 80:
    print("Grade: C")
else:
    print("Grade: D")

    if score < 60:
        print("You failed.")
    else:
        print("You passed.")

Enter your score: 90
Grade: A

In [50]:
# Expert Level: Nested Conditions for a Triangle

side1 = float(input("Enter the length of the first side: "))
side2 = float(input("Enter the length of the second side: "))
side3 = float(input("Enter the length of the third side: "))

if side1 + side2 > side3 and side1 + side3 > side2 and side2 + side3 > side1:
    print("It's a valid triangle.")

    if side1 == side2 == side3:
        print("It's an equilateral triangle.")
    elif side1 == side2 or side1 == side3 or side2 == side3:
        print("It's an isosceles triangle.")
    else:
        print("It's a scalene triangle.")
else:
    print("It's not a valid triangle.")

Enter the length of the first side: 2
Enter the length of the second side: 2
Enter the length of the third side: 3
It's a valid triangle.
It's an isosceles triangle.

### **Star Print : (LOOP)**

In [51]:
#Print a Single Star:

print("*")

*

In [55]:
# Print a Line of Stars:

size = 5

for i in range(size):
    print('*')

*
*
*
*
*

In [56]:
# Print a Square of Stars:

size = 6

for _ in range(size):
    print('* ' * size)

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [57]:
#Print a Right Triangle of Stars:

size = 5

for i in range(1, size + 1):
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *

In [58]:
# Print an Inverted Right Triangle of Stars:

size = 5

for i in range(size, 0, -1):
    print('* ' * i)

* * * * *
* * * *
* * *
* *
*

In [59]:
# Print a Pyramid of Stars:

size = 5

for i in range(1, size + 1):
    print(' ' * (size - i) + '* ' * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [60]:
#Print a Diamond of Stars:

size = 5

for i in range(1, size + 1):
    print(' ' * (size - i) + '* ' * i)

for i in range(size - 1, 0, -1):
    print(' ' * (size - i) + '* ' * i)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [61]:
#Print a Hollow Square of Stars:

size = 5

for i in range(size):
    if i == 0 or i == size - 1:
        print('* ' * size)
    else:
        print('* ' + '  ' * (size - 2) + '* ')

* * * * *
*       *
*       *
*       *
* * * * *

# **OOP - Object-Oriented Programming**

* Classes, abc, Objects, Inheritance, Polymorphism, Access Modifiers

# **Class & Object**

* Class : Properties of an Object
* Object : Example of Class

In [62]:
class Car:
  def __init__(self, make, model, year, color):
    self.make = make
    self.model = model
    self.year = year
    self.color = color
    self.speed = 0

car1 = Car("Tesla", "X", 2022, "White")

**Classes:** A class is a blueprint for creating objects. It defines a data structure that includes attributes (variables) and methods (functions). To create a class in Python, you use the **class** keyword.

In [1]:
class Car:
    def __init__(self, make, model, year):     # Car class with three attributes (make, model, and year)
        self.make = make
        self.model = model
        self.year = year

    def display_info(self):                    # method (display_info)
        print(f"Year : {self.year}, Made On : {self.make}, Model : {self.model}")

**Objects:** An object is an instance of a class. You can create multiple objects from the same class, each with its own set of attributes and methods.

In [2]:
# Creating objects of the Car class
car1 = Car("Toyota", "Camry", 2022)
car2 = Car("Honda", "Civic", 2023)

# Accessing attributes
print(car1.make)
print(car2.year)

# Calling methods
car1.display_info()
car2.display_info()

Toyota
2023
Year : 2022, Made On : Toyota, Model : Camry
Year : 2023, Made On : Honda, Model : Civic

**Constructor (_ _ init _ _ method):** The _ _ init _ _ method is a special method in a class that is called when an object is created. It is used to initialize the attributes of the object.

In [65]:
def __init__(self, make, model, year):   #The self parameter is a reference to the instance of the class and is used to access its attributes and methods.
    self.make = make
    self.model = model
    self.year = year

**Accessing Attributes and Calling Methods:** You can access the attributes of an object using dot notation (object.attribute). Similarly, you can call the methods of an object using dot notation (object.method()).

In [66]:
print(car1.make)      # Accessing attribute
car2.display_info()   # Calling method

Toyota
2023 Honda Civic

## **Instance Variables:**

Instance variables are unique to each instance (object) of a class. They store data that is specific to an instance and can have different values for different instances. Instance variables are defined within the constructor (_ _ init_ _ method) of the class using the self keyword.

In [67]:
class Student:
    def __init__(self, name, age):
        self.name = name       # Instance variable
        self.age = age         # Instance variable

student1 = Student("Nishat", 20)
student2 = Student("Tasnim", 22)

print(student1.name)
print(student2.name)

Nishat
Tasnim

# **Class Variables:**

Class variables are shared among all instances of a class. They are defined within the class but outside any methods. Class variables store data that is common to all instances of the class. Changes made to class variables affect all instances of the class.

In [68]:
class BankAccount:
    interest_rate = 0.03  # Class variable

    def __init__(self, balance):
        self.balance = balance  # Instance variable

account1 = BankAccount(1000)
account2 = BankAccount(1500)

print(account1.interest_rate)  # Output: 0.03
print(account2.interest_rate)  # Output: 0.03

print(account1.balance)        # Output: 1000
print(account2.balance)        # Output: 1500

0.03
0.03
1000
1500

### **Practice : 1**

In [69]:
# Creating a class
class Student:
    # Constructor
    def __init__(self, nm="unknown", id="0"):
        self.name = nm
        self.Id = id
        self.section = "C"

    # Method to display student details
    def display(self):
        print(f'Name: {self.name}, ID: {self.Id}, Section: {self.section}')

# Create the first Student object with custom name and ID
st1 = Student("Tasnim", "0213")
print(st1.name)   # Outputs: Tasnim
print("A new object has been created")

# Create the second Student object with default values
st2 = Student()
print(st2.Id)     # Outputs: 0 (default value)
st2.Id = "01231"  # Change the ID
print(st2.Id)     # Outputs: 01231
st2.display()     # Outputs: Name: unknown, ID: 01231, Section: C

# Create the third Student object with custom name and ID
st3 = Student("Nishat", "32564")
st3.section = "E"  # Change the section
st3.display()      # Outputs: Name: Nishat, ID: 32564, Section: E

Tasnim
A new object has been created
0
01231
Name: unknown, ID: 01231, Section: C
Name: Nishat, ID: 32564, Section: E

### **Practice : 2**

In [70]:
class Bank:
    def __init__(self, Accno, name, balance=500):
        self.AccNo = Accno
        self.name = name
        self.balance = balance

    def setBalance(self, newBalance):
        self.balance = newBalance

    def getBalance(self):
        return self.balance

    def deposit(self, amt):
        self.balance += amt

# Create a Bank object
b = Bank('1234', 'BRAC')
print(b.getBalance())         # Get initial balance
b.deposit(100000)             # Deposit money
print(b.getBalance())         # Get updated balance
b.setBalance(1000000200)      # Update New Balance
print(b.getBalance())         # Get updated balance

500
100500
1000000200

In [74]:
class Bank:
    def __init__(self, Accno, name, balance=500):
        self.AccNo = Accno
        self.name = name
        self.balance = balance

    def setBalance(self, newBalance):
        self.balance = newBalance

    def getBalance(self):
        return self.balance

    def deposit(self, amt):
        self.balance += amt

# Create a Bank object
b = Bank('1234', 'Islami Bank')

# Get initial balance
initial_balance = b.getBalance()
print("Initial Balance:", initial_balance)

# Deposit money
deposit_amount = 100000
b.deposit(deposit_amount)
print("Deposit Amount:", deposit_amount)

# Get updated balance
updated_balance = b.getBalance()
print("Updated Balance:", updated_balance)

# Update money
update_amount = 10003000
b.setBalance(update_amount)
print("Update Amount:", update_amount)

# Get updated balance
updated_balance = b.getBalance()
print("Updated Balance:", updated_balance)

Initial Balance: 500
Deposit Amount: 100000
Updated Balance: 100500
Update Amount: 10003000
Updated Balance: 10003000

### **Practice : 3**

In [75]:
class Calculator:
    def multiply(self, x=1, y=1, z=1):
        m = x * y * z
        print(m)

c = Calculator()
c.multiply(2, 3)
c.multiply(2, 3, 4)

6
24

### **Practice : 4**

In [77]:
class Addition:
    def addition(self, *c):
        total_sum = 0
        for i in c:
            total_sum += i
        print(total_sum)

a = Addition()
a.addition(2)
a.addition(2, 3)
a.addition(2, 3, 4, 56, 7, 1, 0)

2
5
73

In [76]:
class Addition:
    def addition(self, *c):
        total = sum(c)
        print(total)

a = Addition()
a.addition(2)
a.addition(2, 3)
a.addition(2, 3, 4, 56, 7, 1, 0)

2
5
73

# **Inheritance :**

Inheritance is a fundamental concept in object-oriented programming (OOP), and it allows a new class (child) to inherit attributes and methods from an existing class (parent). Let's create an example with an Animal class as the parent class and a specific type of animal, like a Dog, as the child class.

In [79]:
class Animal:
    def __init__(self, name, species):
        self.name = name
        self.species = species

    def make_sound(self):
        print("Generic Animal Sound :")

    def show_info(self):
        print(f"Name: {self.name}, Species: {self.species}")


class Dog(Animal):
    def __init__(self, name, breed):
        # Using super() to call the constructor of the parent class
        super().__init__(name, species="Dog")
        self.breed = breed

    def make_sound(self):
        # Accessing the parent class method using super()
        super().make_sound()
        print("Woof!")

    def show_info(self):
        # Modifying the parent class method using super()
        super().show_info()
        print(f"Breed: {self.breed}")


# Creating instances of the classes
generic_animal = Animal(name="Generic Animal", species="Unknown")
my_dog = Dog(name="Buddy", breed="Golden Retriever")

# Using methods of the parent class
generic_animal.show_info()

# Using methods of the child class
my_dog.show_info()

# Overriding the parent class method in the child class
my_dog.make_sound()

Name: Generic Animal, Species: Unknown
Name: Buddy, Species: Dog
Breed: Golden Retriever
Generic Animal Sound :
Woof!

### **Single Inheritance :**

In [5]:
# Parent class
class Animal:
    def __init__(self, name):
        self.name = name
        print(f'{self.name}')

    def display(self):
        print("This is a method from Animal class")


# Child class
class Dog(Animal):
    def __init__(self, name, legs):
        super().__init__(name)
        self.legs = legs
        print("This is from Dog class")

    def bark(self):
        print("The dog is barking")


a1 = Animal('Animal')
d1 = Dog("Dog", 4)
d1.display()
a1.display()
d1.bark()

Animal
Dog
This is from Dog class
This is a method from Animal class
This is a method from Animal class
The dog is barking

### **Hierarchical Inheritance :**

In [81]:
# Parent class
class Human:
    def __init__(self):
        print("Constructor from Human class")

    def move(self):
        print("All humans can move")


# Child class
class Student(Human):
    def __init__(self):
        super().__init__()
        print("This is from Student class")

    def study(self):
        print("Midterms are coming")


# Child class
class Teacher(Human):
    def noSleep(self):
        print("No sleep at all")


# Create instances
s1 = Student()
t1 = Teacher()

Constructor from Human class
This is from Student class
Constructor from Human class

### **Multilevel Inheritance :**

In [82]:
# Grandparent class
class Animal:
    def __init__(self, legs):
        self.legs = legs
        print("This is from Animal")

    def method(self):
        print("This is a method from Animal class")

# Parent class inheriting from Animal
class Cat(Animal):
    def __init__(self, legs, hastail):
        super().__init__(legs)
        self.hastail = hastail
        print('This is from Cat class')

    def catMethod(self):
        print("This method is from Cat class")

# Child class inheriting from Cat
class PersianCat(Cat):
    def __init__(self, legs, hastail, hasfur):
        super().__init__(legs, hastail)
        self.hasfur = hasfur

    def fur(self):
        print("This type of cat has soft fur")


pc = PersianCat(4, 'HasTailFalse', 'True')
pc.method()
pc.catMethod()
pc.fur()

This is from Animal
This is from Cat class
This is a method from Animal class
This method is from Cat class
This type of cat has soft fur

In [83]:
# Grandparent class
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        raise NotImplementedError("Subclasses must implement this method")

# Parent class inheriting from Animal
class Mammal(Animal):
    def give_birth(self):
        return f"{self.name} is giving birth to live young."

# Child class inheriting from Mammal
class Dog(Mammal):
    def speak(self):
        return f"{self.name} says Woof!"

# Grandchild class inheriting from Dog
class Poodle(Dog):
    def fetch(self):
        return f"{self.name} is fetching the ball."

# Creating instances of the classes
my_dog = Poodle(name="Buddy")

# Accessing methods from all levels of inheritance
print(my_dog.speak())          # Output: Buddy says Woof!
print(my_dog.give_birth())     # Output: Buddy is giving birth to live young.
print(my_dog.fetch())          # Output: Buddy is fetching the ball.

Buddy says Woof!
Buddy is giving birth to live young.
Buddy is fetching the ball.

## **Multiple Inheritance :**

In [84]:
# Father
class A:
    def __init__(self):
        print('From class A')

    def method1(self):
        print('Method 1 from class A')

# Mother
class B:
    def __init__(self):
        print('From class B')

    def method2(self):
        print('Method 2 from class B')

# Child Class Inherits Both Father Mother Class
class C(A, B):
    def __init__(self):
        super().__init__()
        B.__init__(self)
        print('From class C')

    def method3(self):
        print('Method 3 from class C')

c1 = C()
c1.method1()  # Call method1 from class A using an instance of class C

From class A
From class B
From class C
Method 1 from class A

# **Abstract :**

## **ABC**

In Python, there is no explicit **interface** keyword as in some other programming languages like Java or C#. However, Python supports a form of interface through **abstract base classes (ABCs)** provided by the **abc** module. Abstract base classes allow you to define a common interface that subclasses must implement. While not strictly enforcing the interface, they serve as a guide for implementing certain methods.

In [85]:
# Import the ABC class from the abc module

from abc import ABC, abstractmethod

# Create an abstract base class by inheriting from ABC
class MyInterface(ABC):
    @abstractmethod
    def method1(self):
        pass

    @abstractmethod
    def method2(self, param):
        pass

# Create a concrete class that implements the interface
class MyClass(MyInterface):
    def method1(self):
        print("Implementation of method1")

    def method2(self, param):
        print(f"Implementation of method2 with parameter: {param}")

# Instantiate and use the concrete class
obj = MyClass()
obj.method1()
obj.method2("Hello")

Implementation of method1
Implementation of method2 with parameter: Hello

By using abstract base classes and the **abstractmethod** decorator, you create a clear contract that any class inheriting from *MyInterface* must implement the specified methods. Using abstract base classes is a powerful way to achieve a form of interface in Python.

In [86]:
#Practice 1

from abc import ABC, abstractmethod

# Abstract class declaration
class A(ABC):
    @abstractmethod
    def method1(self):
        pass

    def con_method(self):
        print('Concrete method')

# Concrete class implementing abstract method
class B(A):
    def method1(self):
        print('Method 1')

    def method2(self):
        print('Method 2')

# Subclass of B
class C(B):
    def method3(self):
        print('Method 3')

# Create an instance of class C
c = C()
c.method1()
c.method2()
c.method3()

Method 1
Method 2
Method 3

In [87]:
# Practice 2

from abc import ABC, abstractmethod


class Polygon(ABC):
    @abstractmethod
    def noofsides(self):
        pass


class Triangle(Polygon):
    # overriding abstract method
    def noofsides(self):
        print("I have 3 sides")


class Pentagon(Polygon):
    # overriding abstract method
    def noofsides(self):
        print("I have 5 sides")


class Hexagon(Polygon):
    # overriding abstract method
    def noofsides(self):
        print("I have 6 sides")


class Quadrilateral(Polygon):
    # overriding abstract method
    def noofsides(self):
        print("I have 4 sides")


# Driver code
R = Triangle()
R.noofsides()

K = Quadrilateral()
K.noofsides()

R = Pentagon()
R.noofsides()

K = Hexagon()
K.noofsides()

I have 3 sides
I have 4 sides
I have 5 sides
I have 6 sides

In [88]:
# Practice 3

from abc import ABC, abstractmethod

class Animal(ABC):
    def move(self):
        pass

class Human(Animal):
    def move(self):
        print("I can walk and run")

class Snake(Animal):
    def move(self):
        print("I can crawl")

class Dog(Animal):
    def move(self):
        print("I can bark")

class Lion(Animal):
    def move(self):
        print("I can roar")

# Driver code
R = Human()
R.move()

K = Snake()
K.move()

R = Dog()
R.move()

K = Lion()
K.move()

I can walk and run
I can crawl
I can bark
I can roar

In [89]:
# implementation of abstract
# class through subclassing
import abc

class parent:
    def nishat(self):
        pass

class child(parent):
    def nishat(self):
        print("child class")

# Driver code
print(issubclass(child, parent))
print(isinstance(child(), parent))

True
True

In [90]:
# Python program invoking a
# method using super()
from abc import ABC

class R(ABC):
    def rk(self):
        print("Abstract Base Class")

class K(R):
    def rk(self):
        super().rk()
        print("subclass ")

# Driver code
r = K()
r.rk()

Abstract Base Class
subclass

# **Polymorphism :**
Polymorphism is a fundamental concept in object-oriented programming (OOP) that allows objects of different classes to be treated as objects of a common base class. It enables a single interface to be used for a general set of actions, providing flexibility and code reuse.

## **1. Method Overriding:**
Method overriding is a form of polymorphism where a subclass provides a specific implementation of a method that is already defined in its superclass. This allows objects of different classes to be treated interchangeably.

In [91]:
class Animal:
    def speak(self):
        return "Animal speaks"

class Dog(Animal):
    def speak(self):
        return "Dog barks"

class Cat(Animal):
    def speak(self):
        return "Cat meows"

# Using polymorphism
def animal_sound(animal):
    return animal.speak()

# Creating instances of different classes
animal = Animal()
dog = Dog()
cat = Cat()

# Calling the method with different objects
print(animal_sound(animal))
print(animal_sound(dog))
print(animal_sound(cat))

Animal speaks
Dog barks
Cat meows

## **2. Duck Typing :**
Duck typing is another form of polymorphism in Python, based on the principle "If it looks like a duck, swims like a duck, and quacks like a duck, then it probably is a duck." In other words, the type or class of an object is determined by its behavior, not by its explicit type.

In [92]:
class Duck:
    def quack(self):
        return "Duck quacks"

class Person:
    def quack(self):
        return "Person imitates a duck"

# Using duck typing
def duck_sound(entity):
    return entity.quack()

# Creating instances of different classes
duck = Duck()
person = Person()

# Calling the method with different objects
print(duck_sound(duck))
print(duck_sound(person))

Duck quacks
Person imitates a duck

### **Example using Default Parameter Values:**

In [93]:
class Example:
    def add(self, x, y=0):
        return x + y

# Creating an instance of the class
obj = Example()

# Calling the method with different argument counts
print(obj.add(2, 3))
print(obj.add(2))

5
2

### **Example using** *args :

In [95]:
class Example:
    def add(self, *args):                 # *args to accept any number of arguments
        return sum(args)

# Creating an instance of the class
obj = Example()

# Calling the method with different numbers of arguments
print(obj.add(2, 3, 5))
print(obj.add(1, 2, 3, 4, 5))

10
15

# **Access Modifier :**

In Python, there are no strict access modifiers like private, protected, or public as in some other object-oriented programming languages. However, Python uses a convention to indicate the visibility of attributes and methods. The convention is based on the name of the attribute or method:

1. **Public:** By default, all attributes and methods are public. This means they can be accessed from outside the class.

In [96]:
class MyClass:
     def __init__(self):
         self.public_variable = 42

     def public_method(self):
         return "This is a public method"

**2. Protected:** Conventionally, attributes and methods intended to be protected are prefixed with a single underscore _. This signals to other developers that the attribute or method should not be accessed from outside the class, but it does not prevent it.

In [97]:
class MyClass:
     def __init__(self):
         self._protected_variable = 42

     def _protected_method(self):
         return "This is a protected method"

**3. Private:** Conventionally, attributes and methods intended to be private are prefixed with double underscores __. This signals that the attribute or method should not be accessed directly from outside the class.

In [98]:
class MyClass:
     def __init__(self):
         self.__private_variable = 42

     def __private_method(self):
         return "This is a private method"

**Example :**

Let's create a class with public, protected, and private variables, and demonstrate how they can be accessed or restricted outside the class:

In [100]:
class ExampleClass:
    def __init__(self):
        # Public variable
        self.public_variable = "I am public"

        # Protected variable (convention with a single leading underscore)
        self._protected_variable = "I am protected"

        # Private variable (convention with a double leading underscore)
        self.__private_variable = "I am private"

    def get_public_variable(self):
        return self.public_variable

    def get_protected_variable(self):
        return self._protected_variable

    def get_private_variable(self):
        return self.__private_variable


# Outside the class
obj = ExampleClass()

# Accessing public variable
print(obj.get_public_variable())     # Accessing using a public method
print(obj.public_variable)           # Accessing directly is allowed

# Accessing protected variable
print(obj.get_protected_variable())  # Accessing using a public method
# Accessing directly is allowed but not recommended
print(obj._protected_variable)

# Attempting to access private variable directly would result in an AttributeError
# Uncommenting the following line will result in an AttributeError

# print(obj.__private_variable)

# Accessing private variable using a public method
print(obj.get_private_variable())

# Accessing private variable directly (ignoring the convention), This will work, but it's not recommended
print(obj._ExampleClass__private_variable)  # _ClassName__private_variable

I am public
I am public
I am protected
I am protected
I am private
I am private

# **HTML BASICS :**

# Tags
Here's a comprehensive list of HTML tags along with their descriptions:

1. **`<!DOCTYPE html>`**: Defines the document type and version of HTML being used (HTML5).

2. **`<html>`**: Wraps the entire HTML content of the webpage.

3. **`<head>`**: Contains meta-information about the document such as its title, character encoding, stylesheets, scripts, etc.

4. **`<title>`**: Sets the title of the webpage which appears on the browser tab.

5. **`<body>`**: Contains the main content of the webpage.

6. **Text Formatting Tags:**
   - `<h1>` to `<h6>`: Headings of different levels.
   - `<p>`: Paragraph.
   - `<br>`: Line break.
   - `<hr>`: Horizontal rule (divider).

7. **Links and Anchors:**
   - `<a>`: Anchor tag for creating hyperlinks.
     - `href`: Specifies the URL.
     - `target`: Specifies where to open the linked document (e.g., `_blank` for opening in a new tab).
   
8. **Images:**
   - `<img>`: Embeds images.
     - `src`: Specifies the image file path.
     - `alt`: Specifies an alternative text for the image (useful for accessibility and SEO).

9. **Lists:**
   - `<ul>`: Unordered list (bullets).
   - `<ol>`: Ordered list (numbers).
   - `<li>`: List item.

10. **Tables:**
    - `<table>`: Creates a table.
    - `<tr>`: Table row.
    - `<td>`: Table cell (data).
    - `<th>`: Table header cell.

11. **Forms:**
    - `<form>`: Defines a form.
    - `<input>`: Defines an input field.
    - `<textarea>`: Defines a multiline text input field.
    - `<button>`: Defines a clickable button.
    - `<select>`: Defines a dropdown list.
    - `<option>`: Defines an option in a dropdown list.

12. **Semantic HTML:**
    - `<header>`, `<nav>`, `<main>`, `<article>`, `<section>`, `<aside>`, `<footer>`: Provide semantic meaning to different sections of a webpage.

13. **Meta Tags (Inside `<head>`):**
    - `<meta>`: Provides meta-information about the document such as character encoding, viewport settings, etc.

14. **Miscellaneous:**
    - `<div>`: Division or container for grouping elements.
    - `<span>`: Inline container for grouping elements.
    - `<script>`: Embeds or links to client-side scripts.
    - `<style>`: Embeds CSS styles.
    - `<iframe>`: Embeds another HTML document within the current one.

15. **Comments:**
    - `<!-- ... -->`: Comments in HTML.

These are some of the most commonly used HTML tags. Understanding how to use these tags effectively will allow you to create structured and well-formatted web pages.

# Input fields
HTML provides various input types that allow users to input different types of data in web forms. Here's a list of commonly used input types in HTML:

1. **Text Input**: Allows users to enter single-line text.
   ```html
   <input type="text" name="firstname" placeholder="First Name">
   ```

2. **Password Input**: Similar to text input but hides the entered text.
   ```html
   <input type="password" name="password" placeholder="Password">
   ```

3. **Email Input**: Validates that the entered text is in an email format.
   ```html
   <input type="email" name="email" placeholder="Email">
   ```

4. **Number Input**: Restricts input to numeric values.
   ```html
   <input type="number" name="quantity" min="1" max="100">
   ```

5. **Checkbox**: Allows users to select one or more options.
   ```html
   <input type="checkbox" name="vehicle" value="Bike"> I have a bike
   ```

6. **Radio Buttons**: Allows users to select only one option from a group.
   ```html
   <input type="radio" name="gender" value="male"> Male
   <input type="radio" name="gender" value="female"> Female
   ```

7. **Dropdown List**: Presents a list of options for users to select from.
   ```html
   <select name="cars">
       <option value="volvo">Volvo</option>
       <option value="saab">Saab</option>
       <option value="mercedes">Mercedes</option>
       <option value="audi">Audi</option>
   </select>
   ```

8. **Date Input**: Allows users to select a date from a calendar.
   ```html
   <input type="date" name="birthdate">
   ```

9. **Time Input**: Allows users to select a time.
   ```html
   <input type="time" name="appt">
   ```

10. **File Input**: Allows users to upload files.
    ```html
    <input type="file" name="fileupload">
    ```

11. **Hidden Input**: Stores values that are not displayed on the webpage.
    ```html
    <input type="hidden" name="userid" value="123">
    ```

12. **Submit Button**: Submits the form data to the server.
    ```html
    <input type="submit" value="Submit">
    ```

13. **Reset Button**: Resets all form fields to their default values.
    ```html
    <input type="reset" value="Reset">
    ```

14. **Button**: Generic button for triggering JavaScript functions.
    ```html
    <button type="button" onclick="myFunction()">Click Me!</button>
    ```

15. **Color Input**: Allows users to select a color.
    ```html
    <input type="color" name="favcolor">
    ```

These are some of the most commonly used input types in HTML. Each input type serves a specific purpose and helps in creating interactive and user-friendly web forms.

# Table
Sure! Tables in HTML are used to display data in rows and columns. Here's how you can create a basic table:

```html
<table border="1">
  <tr>
    <th>Header 1</th>
    <th>Header 2</th>
    <th>Header 3</th>
  </tr>
  <tr>
    <td>Data 1</td>
    <td>Data 2</td>
    <td>Data 3</td>
  </tr>
  <tr>
    <td>Data 4</td>
    <td>Data 5</td>
    <td>Data 6</td>
  </tr>
</table>
```

Explanation:

- `<table>`: Defines the start of the table.
- `border="1"`: Specifies the border around the table. You can adjust the value to change the thickness of the border.
- `<tr>`: Defines a table row.
- `<th>`: Defines a table header cell. This is typically used for column headings.
- `<td>`: Defines a table data cell. This is used for actual data.
- Each `<tr>` contains one or more `<td>` or `<th>` cells to represent columns.
- `<th>` cells are typically used for headers and are bold and centered by default.
- `<td>` cells are used for regular data and are left-aligned by default.

You can customize tables further by adding attributes like `colspan` (to span multiple columns) and `rowspan` (to span multiple rows) to `<th>` or `<td>` elements. For example:

```html
<table border="1">
  <tr>
    <th colspan="2">Name</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>30</td>
  </tr>
</table>
```

This will create a table with the first column spanning two columns for the name. The output will look like this:

```
|    Name    | Age |
|------------|-----|
| John   Doe | 30  |
```

Additionally, you can use CSS to style tables further, including changing colors, fonts, borders, and more. But this basic HTML structure provides the foundation for creating tables on web pages.

### Table Practice 1:

```
<!DOCTYPE html>
<html>
<head>
  <title>HTML Table</title>
</head>
<body>
  <table border="1">
    <tr>
      <th>Header 1</th>
      <th>Header 2</th>
      <th>Header 3</th>
    </tr>
    <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
    </tr>
    <tr>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>Data 6</td>
    </tr>
  </table>
</body>
</html>
```

### Table Practice 2 :

```
<!DOCTYPE html>
<html>
<head>
  <title>HTML Table</title>
</head>
<body>
<table border="1">
    <thead>
        <tr>
            <td>Serial No.</td>
            <td>Product Name</td>
            <td>Product Price</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Rice</td>
            <td>150</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Meat</td>
            <td>350</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Total</strong></td>
            <td>500</td>
        </tr>
    </tbody>
</table>
</body>
</html>
```

# Form

```
<!DOCTYPE html>
<html>
<head>
  <title>HTML Form</title>
</head>
<body>
  <form>

    <h2>HTML FORM</h2>
    Username: <input type="text" id="username" name="username"> <br><br>
    Password: <input type="password" id="password" name="password"><br><br>

    <label>Gender:</label>
    <input type="radio" name="gender" value="male"> Male
    <input type="radio" name="gender" value="female"> Female
    <br><br>

    <label>Hobbies:</label>
    <input type="checkbox" name="hobbies" value="reading"> Reading
    <input type="checkbox" name="hobbies" value="traveling"> Traveling
    <input type="checkbox" name="hobbies" value="sports"> Sports
    <br><br>

    <input type="submit" value="Submit">

  </form>
</body>
</html>
```

# **Django Framework**
* Django Architecture (URLs, Views, MVT)
* Models, Forms and Media Management
* Multiple Apps Management

# **Django Architecture**

## MVT Overview
![image.png]()

# **Basic Setup**
In this tutorial, I'll guide you through setting up a basic Django project, creating multiple HTML pages, and linking them using URLs and views.

### Step 1: Install Django

First, make sure you have Python installed on your system. Then, install Django using pip:

```bash
pip install django
```

### Step 2: Create a Django Project

Now, let's create a new Django project. Open your terminal and run:

```bash
django-admin startproject myproject
```

This will create a directory called `myproject` with the basic structure for a Django project.

### Step 3: Create an App

In Django, functionality is organized into apps. Let's create an app within our project:

```bash
cd myproject
python manage.py startapp myapp
```

This will create a directory called `myapp` with the necessary files for our app.

### Step 4: Define URL patterns

Open `myproject/myapp/urls.py` and define your URL patterns. Here's a simple example:

```python
from django.urls import path
from . import views

urlpatterns = [
    path('', views.home, name='home'),
    path('about/', views.about, name='about'),
    path('contact/', views.contact, name='contact'),
]
```

### Step 5: Create Views

In Django, views are Python functions that take a web request and return a web response. Let's create some views. Open `myproject/myapp/views.py`:

```python
from django.shortcuts import render
from django.http import HttpResponse

def home(request):
    return render(request, 'home.html')

def about(request):
    return render(request, 'about.html')

def contact(request):
    return render(request, 'contact.html')
```

### Step 6: Create HTML Templates

Create HTML templates for each view in the `myproject/myapp/templates` directory:

- `home.html`
- `about.html`
- `contact.html`

These templates will contain the HTML code for your pages.

### Step 7: Configure URLs

In your project's main `urls.py` file (located at `myproject/urls.py`), include your app's URLs:

```python
from django.contrib import admin
from django.urls import path, include

urlpatterns = [
    path('admin/', admin.site.urls),
    path('', include('myapp.urls')),
]
```

### Step 8: Run the Server

Finally, start the Django development server:

```bash
python manage.py runserver
```

Now you can visit `http://127.0.0.1:8000/` in your browser to see your home page, `http://127.0.0.1:8000/about/` for the about page, and `http://127.0.0.1:8000/contact/` for the contact page. Django will route these URLs to the appropriate views and templates.

# **Navigate from one page to another**

### Step 1: Create HTML Templates

Create HTML templates for each of your pages (`home.html`, `about.html`, `contact.html`) in the `myapp/templates` directory.

Here's an example of `home.html`:

```html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page!</h1>
    <a href="{% url 'about' %}"><button>About</button></a>
    <a href="{% url 'contact' %}"><button>Contact</button></a>
</body>
</html>
```

Similarly, create `about.html` and `contact.html` with appropriate content and navigation buttons.

### Step 2: Define URL Patterns

In your app's `urls.py` file (`myapp/urls.py`), define the URL patterns:

```python
from django.urls import path
from . import views

urlpatterns = [
    path('', views.home, name='home'),
    path('about/', views.about, name='about'),
    path('contact/', views.contact, name='contact'),
]
```

### Step 3: Create Views

In your app's `views.py` file (`myapp/views.py`), define the views:

```python
from django.shortcuts import render

def home(request):
    return render(request, 'home.html')

def about(request):
    return render(request, 'about.html')

def contact(request):
    return render(request, 'contact.html')
```

### Step 4: Configure URLs

In the main `urls.py` file of your Django project (`myproject/urls.py`), include your app's URLs:

```python
from django.contrib import admin
from django.urls import path, include

urlpatterns = [
    path('admin/', admin.site.urls),
    path('', include('myapp.urls')),
]
```

### Step 5: Run the Server

Finally, start the Django development server:

```bash
python manage.py runserver
```

You can now navigate to `http://127.0.0.1:8000/` in your browser to see the home page with buttons to navigate to the about and contact pages.

This setup will allow you to create HTML pages with navigation buttons that link to other pages within your Django project. Feel free to expand upon this by adding more views, templates, and functionality as needed.

# **Superuser**

Creating a superuser in Django is a straightforward process. Superusers have access to the Django admin interface and can perform administrative tasks such as managing users, groups, and other site content. Here's how you can create a superuser in Django:

### If you are creating a super user for the first time in a project just run:



```python
python manage.py migrate
```
Or just follow:



### Step 1: Navigate to Your Django Project Directory

Open your terminal or command prompt and navigate to the root directory of your Django project.

### Step 2: Run the `createsuperuser` Management Command

Use the `createsuperuser` management command provided by Django. Enter the following command:

```bash
python manage.py createsuperuser
```

### Step 3: Enter Superuser Details

After running the command, you will be prompted to enter details for the superuser:

- Username: This is the username for the superuser. Choose a unique username.
- Email address: Provide an email address for the superuser. This is optional but recommended.
- Password: Set a password for the superuser. The password will be hidden as you type.
- Password (again): Re-enter the password for confirmation.

### Step 4: Confirm Superuser Creation

After entering the details, press Enter. Django will validate the information provided. If everything is valid, you will see a message confirming the creation of the superuser:

```
Superuser created successfully.
```

### Step 5: Access Django Admin Interface

Now that you've created the superuser, you can access the Django admin interface by running the Django development server and navigating to the admin URL in your web browser.

Start the development server:

```bash
python manage.py runserver
```

Then, open your web browser and navigate to `http://127.0.0.1:8000/admin`.

### Step 6: Log in as Superuser

At the login page, enter the username and password you specified when creating the superuser. Once logged in, you'll have access to the Django admin interface and can start managing your Django project.

That's it! You've successfully created a superuser in Django. You can now use this superuser account to perform administrative tasks and manage your Django project through the admin interface.

# **Create a New App**

Creating a new app in Django involves several steps, including defining its structure, adding it to the project's settings, and connecting its URLs to the project's main URLs. Let's walk through the process step by step:

### Step 1: Create a New App

Open your terminal or command prompt and navigate to the root directory of your Django project.

Run the following command to create a new Django app:

```bash
python manage.py startapp myapp
```

Replace `myapp` with the desired name of your app.

### Step 2: Add the App to Installed Apps

Open the `settings.py` file located in your Django project directory (`myproject/settings.py`).

Find the `INSTALLED_APPS` list and add your app's name to it:

```python
INSTALLED_APPS = [
    ...
    'myapp',
]
```

### Step 3: Define URL Patterns

Create a new `urls.py` file in your app's directory (`myapp/urls.py`).

Define the URL patterns for your app in this file. Here's an example:

```python
from django.urls import path
from . import views

urlpatterns = [
    path('', views.index, name='index'),
    # Add more URL patterns as needed
]
```

### Step 4: Connect App URLs to Project URLs

In the project's main `urls.py` file (usually located in `myproject/urls.py`), include the URLs of your app using the `include` function:

```python
from django.contrib import admin
from django.urls import path, include

urlpatterns = [
    path('admin/', admin.site.urls),
    path('myapp/', include('myapp.urls')),
    # Add more URL patterns as needed
]
```

### Step 5: Define Views

Create a `views.py` file in your app's directory (`myapp/views.py`).

Define view functions to handle requests. For example:

```python
from django.shortcuts import render
from django.http import HttpResponse

def index(request):
    return HttpResponse("Hello, world. This is my app.")
```

### Step 6: Run the Server

Start the Django development server:

```bash
python manage.py runserver
```

Now you can access your app by navigating to the appropriate URL in your browser. For example, if your app's index view is mapped to `myapp/`, you can access it at `http://127.0.0.1:8000/myapp/`.

That's it! You've successfully created a new app in Django, connected it to the project's settings, and defined URL patterns to access its views. You can now expand your app by adding more views, templates, and functionality as needed.

# **Define a Model**

To define a new model in your Django app and make it accessible via the Django admin interface, follow these steps:

### Step 1: Define the Model

Open the `models.py` file in your app's directory (`myapp/models.py`). Define your new model class.

For example, let's create a simple model representing a product:

```python
from django.db import models

class Product(models.Model):
    name = models.CharField(max_length=100)
    price = models.DecimalField(max_digits=10, decimal_places=2)
    description = models.TextField()

    def __str__(self):
        return self.name
```

### Step 2: Make Migrations

Run the following command to generate a migration file based on your new model:

```bash
python manage.py makemigrations myapp
```

Replace `myapp` with the name of your app.

### Step 3: Apply Migrations

Apply the migration to your database:

```bash
python manage.py migrate
```

### Step 4: Register the Model in `admin.py`

Open the `admin.py` file in your app's directory (`myapp/admin.py`). Register your model with the Django admin interface.

```python
from django.contrib import admin
from .models import Product

admin.site.register(Product)
```

### Step 5: Run the Server

Start the Django development server:

```bash
python manage.py runserver
```

### Step 6: Access Django Admin Interface

Now, navigate to `http://127.0.0.1:8000/admin` in your web browser. Log in using your superuser credentials.

### Step 7: Manage Your Model in Admin Interface

You should now see your `Product` model listed in the admin interface. You can add, view, edit, and delete products directly from the browser.

That's it! You've successfully defined a new model in your Django app and made it accessible via the Django admin interface. You can continue to expand your model by adding more fields and functionality as needed.

# **Admin CRUD**

Performing CRUD (Create, Read, Update, Delete) operations on a product model in Django admin is straightforward. Once you've registered your model with the admin interface, you can manage your products directly from the admin dashboard. Let's go through each CRUD operation:

### Create (Add) a Product

1. Log in to the Django admin interface at `http://127.0.0.1:8000/admin`.
2. Navigate to the "Products" section or whichever section you've registered your product model under.
3. Click on the "Add Product" button.
4. Fill in the fields for the new product (e.g., name, price, description).
5. Click the "Save" button to create the product.

### Read (View) Products

1. Once logged in to the admin interface, you'll see a list of all existing products.
2. You can click on any product to view its details.
3. You can also use search and filter options to find specific products.

### Update (Edit) a Product

1. From the list of products, click on the product you want to edit.
2. This will open the product's details page.
3. Click on the "Edit" button to make changes to the product's fields.
4. Update the desired fields.
5. Click the "Save" button to save your changes.

### Delete a Product

1. From the list of products, locate the product you want to delete.
2. Next to the product entry, there should be a checkbox or a delete button.
3. Select the checkbox or click the delete button.
4. Confirm the deletion when prompted.

# **forms.py**

Assuming you have a `Product` model defined in your `models.py`, let's create a form to handle input for creating or updating products.

1. **Define the Product model**:

   First, let's assume you have a `Product` model defined in your `models.py` like this:

    ```python
    from django.db import models

    class Product(models.Model):
        name = models.CharField(max_length=100)
        description = models.TextField()
        price = models.DecimalField(max_digits=10, decimal_places=2)
        # Add more fields as needed
    ```

2. **Create a form in `forms.py`**:

   Now, you'll define a form class in your `forms.py` to handle input related to the `Product` model:

    ```python
    from django import forms
    from .models import Product

    class ProductForm(forms.ModelForm):
        class Meta:
            model = Product
            fields = ['name', 'description', 'price']
    ```

   This form class is created using Django's `ModelForm`, which automatically generates a form based on the specified model (`Product` in this case). The `Meta` inner class specifies the model and the fields you want to include in the form.

3. **Using the form in views**:

   You can now use this form in your views to handle product creation or update:

    ```python
    from django.shortcuts import render, redirect
    from .forms import ProductForm
    from .models import Product

    def create_product(request):
        if request.method == 'POST':
            form = ProductForm(request.POST)
            if form.is_valid():
                form.save()
                return redirect('product_list')  # Redirect to product list page
        else:
            form = ProductForm()

        return render(request, 'create_product.html', {'form': form})

    def update_product(request, pk):
        product = Product.objects.get(pk=pk)
        if request.method == 'POST':
            form = ProductForm(request.POST, instance=product)
            if form.is_valid():
                form.save()
                return redirect('product_list')  # Redirect to product list page
        else:
            form = ProductForm(instance=product)

        return render(request, 'update_product.html', {'form': form})
    ```

4. **Rendering the form in templates**:

   Create HTML templates (`create_product.html` and `update_product.html`) to render the form:

   `create_product.html`:

    ```html
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    ```

   `update_product.html`:

    ```html
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
    </form>
    ```

   Ensure that your URLs are correctly configured to point to these views.

That's it! Now you have a form in `forms.py` to handle creation and updating of products in your Django application.

# **How to Handle Media?**

Working with photos in Django involves handling image uploads, storage, and rendering them in your web application. Here, I'll guide you through the process of handling photos in a Django project.

**1. Install Required Packages**

You'll need to install the `Pillow` package, which is a Python Imaging Library that makes working with images in Django easier.

```bash
pip install Pillow
```

**2. Create a Django Model**

In your Django project, create a model that includes a `ImageField` to store the photos. Here's an example:

```python
# models.py

from django.db import models

class Photo(models.Model):
    title = models.CharField(max_length=255)
    image = models.ImageField(upload_to='photos/')
    upload_date = models.DateTimeField(auto_now_add=True)

    def __str__(self):
        return self.title
```

In this example, we've defined a `Photo` model with a `title`, `image` field (which is an `ImageField`), and an `upload_date` field.

**3. Configure Media Settings**

In your project's `settings.py`, configure the media settings to specify where the uploaded images should be stored and served from. Add the following:

```python
# settings.py

import os

MEDIA_URL = '/media/'
MEDIA_ROOT = os.path.join(BASE_DIR, 'media')
```

**4. Create URL Patterns**

Define URL patterns in your app's `urls.py` to handle the photo views:

```python
# urls.py in your app

from django.urls import path
from . import views

urlpatterns = [
    path('photos/', views.photo_list, name='photo_list'),
    path('photos/upload/', views.photo_upload, name='photo_upload'),
]
```

**5. Create Views and Templates**

Create views and templates to handle the photo uploads and listing:

```python
# views.py

from django.shortcuts import render, redirect
from .models import Photo
from .forms import PhotoForm

def photo_list(request):
    photos = Photo.objects.all()
    return render(request, 'photos/photo_list.html', {'photos': photos})

def photo_upload(request):
    if request.method == 'POST':
        form = PhotoForm(request.POST, request.FILES)
        if form.is_valid():
            form.save()
            return redirect('photo_list')
    else:
        form = PhotoForm()
    return render(request, 'photos/photo_upload.html', {'form': form})
```

```python
# forms.py

from django import forms
from .models import Photo

class PhotoForm(forms.ModelForm):
    class Meta:
        model = Photo
        fields = ['title', 'image']
```
Here is the html form required to handle media:
```html
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
    {{form.as_p}}
    <button type="submit" > OK </button>
</form>
```
**6. Create Templates**

Create templates for listing photos and the photo upload form:

```html
<!-- photo_list.html -->

{% extends 'base.html' %}

{% block content %}
    <h2>Photos</h2>
    <ul>
        {% for photo in photos %}
            <li>
                <img src="{{ photo.image.url }}" alt="{{ photo.title }}" width="200">
                <p>{{ photo.title }}</p>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'photo_upload' %}">Upload Photo</a>
{% endblock %}
```

```html
<!-- photo_upload.html -->

{% extends 'base.html' %}

{% block content %}
    <h2>Upload Photo</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    <a href="{% url 'photo_list' %}">Back to Photos</a>
{% endblock %}
```

**7. Set Up Static and Media URLs**

In your project's `urls.py`, set up static and media URL configurations:

```python
# myproject/urls.py

from django.contrib import admin
from django.urls import path, include
from django.conf import settings
from django.conf.urls.static import static

urlpatterns = [
    path('admin/', admin.site.urls),
    path('', include('yourapp.urls')),
]

if settings.DEBUG:
    urlpatterns += static(settings.MEDIA_URL, document_root=settings.MEDIA_ROOT)
  
```

**8. Migrate the Database**

Run migrations to create the `Photo` model's database table:

```bash
python manage.py makemigrations
python manage.py migrate
```

**9. Start the Development Server**

Run the development server:

```bash
python manage.py runserver
```

You can now access the photo upload and listing views in your Django web application. Users can upload photos, and those photos will be stored in the specified `MEDIA_ROOT` directory and served at the `MEDIA_URL` URL. Make sure to customize and style the templates to fit your project's design and requirements.

# **Multiple Apps**

# Defining a  model containing a Foreginkey
In Django, a ForeignKey is a field type that is used to create a many-to-one relationship between two models. In your code example, you have two models: `Product` and `ProductRating`.

Here's a breakdown of your models and how ForeignKey works:

1. **Product Model:**
   ```python
   class Product(models.Model):
       name = models.CharField(max_length=100)
       price = models.FloatField(default=0.00)
       description = models.CharField(max_length=1000, default='abc')

       def __str__(self):
           return self.name + str(self.price)
   ```
   - This model represents a product. It has three fields: `name`, `price`, and `description`.
   - Each product will have a unique `name`, a `price`, and a `description`.
   - The `__str__` method is defined to return the name of the product concatenated with its price as a string.

2. **ProductRating Model:**
   ```python
   class ProductRating(models.Model):
       product = models.ForeignKey(Product, on_delete=models.CASCADE)
       rating = models.CharField(max_length=100)
   ```
   - This model represents the ratings given to products. It has two fields: `product` and `rating`.
   - `product` field is a ForeignKey to the `Product` model. This establishes a relationship between `ProductRating` and `Product`. It means that each `ProductRating` instance is associated with one `Product` instance.
   - The `on_delete=models.CASCADE` parameter specifies the behavior when a referenced `Product` instance is deleted. In this case, it means that if a `Product` is deleted, all associated `ProductRating` instances will also be deleted (cascade delete).
   - `rating` field stores the rating given to the product.

With this setup, you can now create instances of `Product` and `ProductRating` and relate them to each other.

# Modification needed in the views.py
This code defines a view function `rate_product` that handles rating a product. Let's break down how it works:

1. **Import Statements:**
   ```python
   from django.shortcuts import render, HttpResponse
   from . import forms
   ```
   - This imports necessary modules and the `ProductRatingForm` form from the current application.

2. **rate_product View:**
   ```python
   def rate_product(request, p_id):
       product = Product.objects.get(pk=p_id)
       if request.method == "GET":
           form = forms.ProductRatingForm(request.GET)
           if form.is_valid():
               instance = form.save(commit=False)
               instance.product = product
               instance.save()
               return HttpResponse('rate successful')
       else:
           form = forms.ProductRatingForm()
       return render(request, 'forms.html', {
           "form": form,
       })
   ```
   - This function takes a Django `HttpRequest` object `request` and a parameter `p_id`, which represents the primary key of the product to be rated.
   - It retrieves the corresponding `Product` object using the primary key `p_id`.
   - If the request method is GET, it creates an instance of `ProductRatingForm`, passing in the GET data from the request.
     - If the form is valid, it saves the form data to an instance of `ProductRating` using `form.save(commit=False)`.
     - `commit=False` tells Django not to save the object to the database yet but to return an unsaved model instance.
     - Then, it sets the `product` attribute of the unsaved `ProductRating` instance to the retrieved `Product` object.
     - Finally, it saves the modified `ProductRating` instance to the database and returns an HTTP response indicating a successful rating.
   - If the request method is not GET, it creates a new instance of `ProductRatingForm`.
   - Regardless of the request method, it renders a template called 'forms.html', passing the form instance as context data.

In summary, `commit=False` is used in this code to connect a `ProductRating` object with a `Product` object before saving it to the database. This allows you to establish the relationship between the product being rated and the rating itself.

# **Practice Django :**

# **Requirement Analysis**
* Draw Class Diagrams based on senario

Requirement analysis is a crucial step in the software development process, including the development of a website. This process involves gathering, understanding, and documenting the requirements of the system. In the context of a website, these requirements typically include functionality, user interface design, performance, security, and other aspects.

Let's go through a simplified example of requirement analysis for a blog website and identify a basic class diagram.

### Example: Blog Website Requirement Analysis

**1. Identify Stakeholders:**
   - **Users:** Readers, Writers (Authors), Admin
   - **Developers:** Web developers, Designers
   - **Administrators:** Content administrators, System administrators

**2. Define Functional Requirements:**

   - **User Registration and Login:**
     - Users should be able to register with the website.
     - Registered users can log in using their credentials.

   - **User Roles:**
     - Differentiate between readers, authors, and administrators.
     - Authors should be able to create, edit, and delete blog posts.

   - **Blog Posts:**
     - Users can view a list of blog posts.
     - Each post should have a title, content, publication date, and author.
     - Users can leave comments on blog posts.

   - **Search Functionality:**
     - Users should be able to search for blog posts based on keywords.

   - **User Profile:**
     - Users should have a profile page displaying their information.
     - Authors can manage their authored posts from their profile.

**3. Define Non-functional Requirements:**

   - **Performance:**
     - The website should load within 3 seconds.
     - Support concurrent users without performance degradation.

   - **Security:**
     - User authentication and authorization are required.
     - Secure storage of user data and passwords.

   - **User Interface:**
     - Intuitive and responsive design for various devices.
     - Accessibility features for users with disabilities.

   - **Scalability:**
     - The system should be scalable to handle a growing number of blog posts and users.

**4. Identify Use Cases:**

   - **User Registration:**
     - Actor: Guest
     - Description: Allows a guest to register as a new user.

   - **User Login:**
     - Actor: Registered User
     - Description: Allows a registered user to log in.

   - **Create Blog Post:**
     - Actor: Author
     - Description: Allows an author to create a new blog post.

   - **View Blog Post:**
     - Actor: Reader
     - Description: Allows a reader to view a blog post.

   - **Search Blog Posts:**
     - Actor: Reader
     - Description: Allows a reader to search for blog posts.

   - **Leave Comment:**
     - Actor: Reader
     - Description: Allows a reader to leave a comment on a blog post.

**5. Create a Basic Class Diagram:**

![image.png]()

**-------------------------------------------------------- THE END --------------------------------------------------------**