# **Tuple**

In [ ]:
#tuple declaration
tuple_1 = ()
tuple_2 = (1, 2, 3, 'a', 'b')

In [ ]:
print(tuple_2)

(1, 2, 3, 'a', 'b')

In [ ]:
first_element = tuple_2[0]
last_element = tuple_2[-1]
print(first_element)
print(last_element)

1
b

In [ ]:
sliced_tuple = tuple_2[1:4]
print(sliced_tuple)

(2, 3, 'a')

In [ ]:
combined_tuple = tuple_2 + (4, 5)
print(combined_tuple)

(1, 2, 3, 'a', 'b', 4, 5)

In [ ]:
repeated_tuple = tuple_2 * 3
print(repeated_tuple)

(1, 2, 3, 'a', 'b', 1, 2, 3, 'a', 'b', 1, 2, 3, 'a', 'b')

In [ ]:
tuple_length = len(tuple_2)
print(tuple_length)

5

In [ ]:
is_present = 2 in tuple_2
print(is_present)

True

In [ ]:
for item in tuple_2:
    print(item)

1
2
3
a
b

In [ ]:
#unpacking
a, b, c, *rest = tuple_2
print(a,b,c,rest)

1 2 3 ['a', 'b']

In [ ]:
a,b = tuple_2
print(a,b) #to show error

ValueError: too many values to unpack (expected 2)

In [ ]:
#,tuple_6
a,*rest = tuple_2
print(a,rest)

1 [2, 3, 'a', 'b']

In [ ]:
tuple_7 = (1,3)

In [ ]:
a,*b,*c= tuple_7
print(a,b,c) #to show error

SyntaxError: multiple starred expressions in assignment (<ipython-input-22-9326e3afcae8>, line 1)

In [ ]:
count_a = tuple_2.count('a')
index_b = tuple_2.index('b')
print(count_a)
print(index_b)

1
4

In [ ]:
tuple_2[0] = 10

TypeError: 'tuple' object does not support item assignment

In [ ]:
tuple_3 = (9,3,4,1,(1,2))
print(tuple_3)

(9, 3, 4, 1, (1, 2))

In [ ]:
tuple_3 == tuple_3

True

In [ ]:
tuple_3

(9, 3, 4, 1, (1, 2))

# **Set**: âœ…

In [ ]:
#declaration of set
set_1 = set()
set_2 = {1, 2, 3, 4, 5}

In [ ]:
set_2.add(6)
print(set_2)
set_2.update({7, 7, 8, 9})
print(set_2)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
set_2.add({10,13,11})

TypeError: unhashable type: 'set'

In [ ]:
set_2.remove(7)

In [ ]:
print(set_2)

{1, 2, 3, 4, 5, 6, 8, 9}

In [ ]:
print(set_2.remove(10))

KeyError: 10

In [ ]:
set_2.discard(6)
print(set_2)

{1, 2, 3, 4, 5, 8, 9}

In [ ]:
set_2.discard({1,4}) #will not work
print(set_2)

{1, 2, 3, 4, 5, 8, 9}

In [ ]:
set_2.remove(set_2[1:3])

TypeError: 'set' object is not subscriptable

In [ ]:
set_2.remove(2,3)

TypeError: set.remove() takes exactly one argument (2 given)

In [ ]:
set_1.update({98,91,64,73,1})

In [ ]:
print(set_1)

{64, 1, 98, 2, 4, 3, 5, 73, 91}

In [ ]:
set_1.remove(2)
set_1.remove(3)
set_1.remove(4)

In [ ]:
print(set_1)

{64, 1, 98, 5, 73, 91}

In [ ]:
union_set = set_1 | set_2

In [ ]:
print(union_set)

{64, 1, 98, 2, 3, 5, 4, 8, 73, 9, 91}

In [ ]:
intersection_set = set_1 & set_2

In [ ]:
print(intersection_set)

{1, 5}

In [ ]:
difference_set = set_1 - set_2

In [ ]:
print(difference_set)

{64, 73, 98, 91}

In [ ]:
difference_set1 = set_2 - set_1
print(difference_set1)

{2, 3, 4, 8, 9}

In [ ]:
is_subset = set_2.issubset(set_1)
is_superset = set_1.issuperset(set_2)

In [ ]:
print(is_subset)
print(is_superset)

False
False

In [ ]:
set_3 = {5,6,7,8,9}
set_4 = {5,6,7}

In [ ]:
is_sub = set_4.issubset(set_3)
is_super = set_3.issuperset(set_4)
print(is_sub)
print(is_super)

True
True

In [ ]:
are_equal = set_3 == set_4
print(are_equal)

False

In [ ]:
set_copy = set_1.copy()
print(set_copy)

{64, 1, 98, 5, 73, 91}

In [ ]:
set_1.clear()

In [ ]:
print(set_1)

set()

In [ ]:
uni_set = set_3 | set_4

In [ ]:
print(uni_set)

{5, 6, 7, 8, 9}

In [ ]:
new_set = {1,32,4,(3,24)}

In [ ]:
print(new_set)

{32, 1, 4, (3, 24)}

In [ ]:
type(new_set)

set

In [ ]:
#revise the declaration of list, tuple, set
empty_list = []
empty_list = list()

empty_tuple = ()
empty_tuple = tuple()

empty_set = {} #wrong way to declare a set
empty_set = set()
empty_set = {1,2,3}

THE END