# Dictionary  ‚è≠

In [ ]:
dictionary = {}  # empty dictionary
students = {'01': 'Afiah', '02': 'Sumaiya', '03': 'ShIfat', 4:'Redwan',5: [1,2,5]}

In [ ]:
print(students)

{'01': 'Afiah', '02': 'Sumaiya', '03': 'ShIfat', 4: 'Redwan', 5: [1, 2, 5]}

In [ ]:
length = len(students)
print(length)

5

In [ ]:
value = students['01']
print(value)

Afiah

In [ ]:
print(students['04'])

Redwan

In [ ]:
print(students.get(5))

[1, 2, 5]

In [ ]:
print(students.get(6))

None

In [ ]:
students[5] = 'Ashrafi'

In [ ]:
print(students)

{'01': 'Afiah', '02': 'Sumaiya', '03': 'ShIfat', 4: 'Redwan', 5: 'Ashrafi'}

In [ ]:
students['06'] = 'Arafat'

In [ ]:
students

{'01': 'Afiah',
 '02': 'Sumaiya',
 '03': 'ShIfat',
 4: 'Redwan',
 5: 'Ashrafi',
 '06': 'Arafat'}

In [ ]:
students['06'] = "Shoron"
print(students)

{'01': 'Afiah', '02': 'Sumaiya', '03': 'ShIfat', 4: 'Redwan', 5: 'Ashrafi', '06': 'Shoron'}

In [ ]:
if '0100' in students:
    print(students['01'])
else:
    print('Studet does not exist')

Studet does not exist

In [ ]:
key = students.keys()
value = students.values()
for i in key:
  print(i)

for j in value:
  print(j)

print(key)
print(value)

01
02
03
4
5
06
Afiah
Sumaiya
ShIfat
Redwan
Ashrafi
Shoron
dict_keys(['01', '02', '03', 4, 5, '06'])
dict_values(['Afiah', 'Sumaiya', 'ShIfat', 'Redwan', 'Ashrafi', 'Shoron'])

In [ ]:
items = students.items()
print(items)

dict_items([('01', 'Afiah'), ('02', 'Sumaiya'), ('03', 'ShIfat'), (4, 'Redwan'), (5, 'Ashrafi'), ('06', 'Shoron')])

In [ ]:
for key in students:
    print(key,students[key])

01 Nazneen
02 Nishat
03 Maruf
4 Nayeem
5 Ashik
06 Arafat

In [ ]:
for key, value in students.items():
    print(f'{key} and corresponding values are {value}')

01 and corresponding values are Nazneen
02 and corresponding values are Nishat
03 and corresponding values are Maruf
4 and corresponding values are Nayeem
5 and corresponding values are Ashik
06 and corresponding values are Arafat

In [ ]:
new_dict = students.copy()
print(new_dict)

{'01': 'Afiah', '02': 'Sumaiya', '03': 'ShIfat', 4: 'Redwan', 5: 'Ashrafi', '06': 'Shoron'}

In [ ]:
new_dict.clear()

In [ ]:
print(new_dict)

{}

In [ ]:
students_1 = {"21202210": "student1",
          "21202211": "student2",
          "21202212": "student3"
}
merged_dict = {**students_1, **students}

In [ ]:
print(merged_dict)

{'21202210': 'student1', '21202211': 'student2', '21202212': 'student3', '01': 'Afiah', '02': 'Sumaiya', '03': 'ShIfat', 4: 'Redwan', 5: 'Ashrafi', '06': 'Shoron'}

In [ ]:
new_dictionary = students_1 + students

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
students.update({'07': 'Soma'})
students['08'] = 'zidni'

In [ ]:
print(students)

{'01': 'Afiah', '02': 'Sumaiya', '03': 'ShIfat', 4: 'Redwan', 5: 'Ashrafi', '06': 'Shoron', '07': 'Soma', '08': 'zidni'}

In [ ]:
students.pop("01")

'Afiah'

In [ ]:
print(students)

{'02': 'Sumaiya', '03': 'ShIfat', 4: 'Redwan', 5: 'Ashrafi', '06': 'Shoron', '07': 'Soma', '08': 'zidni'}

In [ ]:
students.popitem()

('08', 'zidni')

In [ ]:
print(students)

{'02': 'Sumaiya', '03': 'ShIfat', 4: 'Redwan', 5: 'Ashrafi', '06': 'Shoron', '07': 'Soma'}

In [ ]:
print(students)

{'02': 'Nishat', '03': 'Maruf', 4: 'Nayeem', 5: 'Ashik', '06': 'Arafat'}

# Function:

In [ ]:
def func():
  pass

func()

In [ ]:
def hello_func():
  print("Hey! I am from the fuction")

hello_func()

Hey! I am from the fuction

In [ ]:
def hello_func():
  return "Hey! I am from the fuction"

string = hello_func()
print(string)

#print(hello_func())

Hey! I am from the fuction

In [ ]:
def hey_func(str_1='hi'):
  print(f'{str_1}! good to see you')


hey_func("Hello")

Hello! good to see you

In [ ]:
def name_func(text='Hey', name = "default name"):
  print(f'{text} {name}! good to see you')


name_func(name = "Afiah")

Hey Afiah! good to see you

In [ ]:
def add(a=0,b=0):
  return a+b

a, b= 10, 15
var = add(a, b)
print(var)

25

In [ ]:
def func(lst):
  return sum(lst)


lst  = [1,2.3,5]
var = func(lst)
print(var)

8.3

In [ ]:
def addition(lst):
  sum = 0
  for i in lst:
    sum = sum+i
  return sum

def average(a, len):
  avr = a/len
  return avr


list_1 = [10,30,12,23]
variable_1 = addition(list_1)
avg = average(variable_1, len(list_1))

print(variable_1)
print(avg)

75
18.75

**THE END**