## **Tuple Dictionary Operations in Python:**

**Dictionary Declaration and Printing:**

In [1]:
dictionary = {}  # empty dictionary
students = {'01': 'Nahida', '02': 'Afrin', '03': 'Samira', 4:'Niha',5: [1,2,5]}

In [2]:
print(students)

{'01': 'Nahida', '02': 'Afrin', '03': 'Samira', 4: 'Niha', 5: [1, 2, 5]}

**Dictionary Length and Accessing Values:**

In [3]:
length = len(students)
print(length)

5

In [4]:
value = students['01']
print(value)

Nahida

**Accessing Values and Handling Nonexistent Key:**

In [6]:
print(students['4']) #to show error

KeyError: '4'

In [5]:
print(students['04']) #to show error

KeyError: '04'

In [7]:
print(students.get(4))

Niha

In [8]:
print(students.get(5))

[1, 2, 5]

In [9]:
print(students.get(6))

None

**Updating and Adding Elements:**

In [10]:
students[5] = 'Nishat'

In [11]:
print(students)

{'01': 'Nahida', '02': 'Afrin', '03': 'Samira', 4: 'Niha', 5: 'Nishat'}

In [12]:
students['06'] = 'Tasnim'

In [13]:
students

{'01': 'Nahida',
 '02': 'Afrin',
 '03': 'Samira',
 4: 'Niha',
 5: 'Nishat',
 '06': 'Tasnim'}

In [14]:
students['06'] = "Cat"
print(students)

{'01': 'Nahida', '02': 'Afrin', '03': 'Samira', 4: 'Niha', 5: 'Nishat', '06': 'Cat'}

**Checking Key Existence and Iterating Over Keys and Values:**

In [15]:
if '0100' in students:
    print(students['01'])
else:
    print('Student does not exist')

Student does not exist

In [16]:
key = students.keys()
value = students.values()
for i in key:
  print(i)

for j in value:
  print(j)

print(key)
print(value)

01
02
03
4
5
06
Nahida
Afrin
Samira
Niha
Nishat
Cat
dict_keys(['01', '02', '03', 4, 5, '06'])
dict_values(['Nahida', 'Afrin', 'Samira', 'Niha', 'Nishat', 'Cat'])

In [17]:
items = students.items()
print(items)

dict_items([('01', 'Nahida'), ('02', 'Afrin'), ('03', 'Samira'), (4, 'Niha'), (5, 'Nishat'), ('06', 'Cat')])

In [18]:
for key in students:
    print(key,students[key])

01 Nahida
02 Afrin
03 Samira
4 Niha
5 Nishat
06 Cat

In [19]:
for key, value in students.items():
    print(f'{key} and corresponding values are {value}')

01 and corresponding values are Nahida
02 and corresponding values are Afrin
03 and corresponding values are Samira
4 and corresponding values are Niha
5 and corresponding values are Nishat
06 and corresponding values are Cat

In [20]:
new_dict = students.copy()
print(new_dict)

{'01': 'Nahida', '02': 'Afrin', '03': 'Samira', 4: 'Niha', 5: 'Nishat', '06': 'Cat'}

**Clearing Dictionary and Merging Dictionaries:**

In [21]:
new_dict.clear()

In [22]:
print(new_dict)

{}

In [23]:
students_1 = {"21201149": "student1",
          "21201118": "student2",
          "21201100": "student3"
}
merged_dict = {**students_1, **students}

In [24]:
print(merged_dict)

{'21201149': 'student1', '21201118': 'student2', '21201100': 'student3', '01': 'Nahida', '02': 'Afrin', '03': 'Samira', 4: 'Niha', 5: 'Nishat', '06': 'Cat'}

In [25]:
new_dictionary = students_1 + students #to show error

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

**Updating and Popping Elements:**

In [26]:
students.update({'07': 'Ayesha'})
students['08'] = 'Akhter'

In [27]:
print(students)

{'01': 'Nahida', '02': 'Afrin', '03': 'Samira', 4: 'Niha', 5: 'Nishat', '06': 'Cat', '07': 'Ayesha', '08': 'Akhter'}

In [28]:
students.pop("01")

'Nahida'

In [29]:
print(students)

{'02': 'Afrin', '03': 'Samira', 4: 'Niha', 5: 'Nishat', '06': 'Cat', '07': 'Ayesha', '08': 'Akhter'}

In [30]:
students.popitem()

('08', 'Akhter')

In [31]:
print(students)

{'02': 'Afrin', '03': 'Samira', 4: 'Niha', 5: 'Nishat', '06': 'Cat', '07': 'Ayesha'}

In [32]:
print(students)

{'02': 'Afrin', '03': 'Samira', 4: 'Niha', 5: 'Nishat', '06': 'Cat', '07': 'Ayesha'}

## **Python Function Examples:**

**Empty Function:**

In [33]:
def func():
  pass

func()

**Simple Function with Print:**

In [34]:
def hello_func():
  print("Hey! I am from the fuction")

hello_func()

Hey! I am from the fuction

**Function Returning a String:**

In [35]:
def hello_func():
  return "Hey! I am from the fuction"

string = hello_func()
print(string)

#print(hello_func())

Hey! I am from the fuction

**Function with Default Argument:**

In [36]:
def hey_func(str_1='hi'):
  print(f'{str_1}! good to see you')


hey_func("Hello")

Hello! good to see you

**Function with Named Arguments:**

In [37]:
def name_func(text='Hey', name = "default name"):
  print(f'{text} {name}! good to see you')


name_func(name = "Afiah")

Hey Afiah! good to see you

**Function with Default Parameter Values:**

In [38]:
def add(a=0,b=0):
  return a+b

a, b= 10, 15
var = add(a, b)
print(var)

25

**Function with List and Sum:**

In [39]:
def func(lst):
  return sum(lst)


lst  = [1,2.3,5]
var = func(lst)
print(var)

8.3

**Function with Loop and Average Calculation:**

In [40]:
def addition(lst):
  sum = 0
  for i in lst:
    sum = sum+i
  return sum

def average(a, len):
  avr = a/len
  return avr


list_1 = [10,30,12,23]
variable_1 = addition(list_1)
avg = average(variable_1, len(list_1))

print(variable_1)
print(avg)

75
18.75

**THE END**